.starOnTop {
    font-size: large;
    color    : #ff0;
    position : absolute;
    top      : 3px;
    left     : 3px;
}

.seg_style {
    --background        : #fff;
    --background-checked: #f79120;
    --background-focused: #f79120;
    width               : min-content;
    --background-hover  : #f79120;
    --color-checked     : #fff;
    --border-radius     : 5px;
    border-style        : inset;
    --color             : #000;
}

.radioBut {
    font-size: x-large;
    color    : #f79120;

    ion-radio {
        --color-checked: #444444;
        --color        : #999999;
        --border-width : 1px;
        --border-style : double;
    }
}