<ion-content>
  <div button (click)="close()" class="closeIcon">
    <ion-icon name="close"></ion-icon>
  </div>

  <ion-card-content>
    <div *ngIf="!ifComment" style="width: 100%; display: flex; justify-content: center; margin-top:48%;">
      <ion-icon name="chatbox-ellipses" style="font-size: 900%;color: #ddd;"></ion-icon>
      <span style="position: absolute;bottom: -5%;font-size: large;">{{noCommentsString}}</span>
    </div>

    <div class="commentContent" *ngIf="ifComment">
      <div class="comment" *ngFor="let comment of commentData;let i=index;">
        <!-- <div style="background: #000;color: #fff;">
          <h2>sddjkfjkasdbfjk</h2>
        </div> -->
        <ion-row>
          <ion-col size="2">
            <div class="avtar">
              <ion-avatar>
                <img *ngIf="comment.user.profile_img_url!=''"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{comment.user.id}}/{{comment.user.profile_img_url}}"
                  (click)="rootUser(comment.user.id)">
                <img *ngIf="comment.user.profile_img_url==''"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/default.png">
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="dimBack">
              <ion-label><b>{{comment.user.first_name}}&nbsp;{{comment.user.last_name}}</b></ion-label>
              <div class="text"> {{comment.comment}} </div>
            </div>
            <ion-row>
              <ion-col size="6">
                <span>a day ago</span>
              </ion-col>
              <ion-col size="6">
                <span style="float: right;display: flex;align-items: center;" *ngIf="comment.replys.length>0" button
                  (click)="loadReply(i)">
                  <span>[{{comment.replys.length}}] </span>
                  <!-- <span *ngIf="comment.replys.length===1">{{replyString}}</span>
                  <span *ngIf="comment.replys.length>1">{{replysString}}</span> -->
                  <ion-icon name="chevron-up-circle-outline" style="font-size: large;" *ngIf="comment.showReply">
                  </ion-icon>
                  <ion-icon name="chevron-down-circle-outline" style="font-size: large;" *ngIf="!comment.showReply">
                  </ion-icon>
                  <!-- &nbsp; -->
                </span>
              </ion-col>
            </ion-row>
            <div class="replyBtn">
              <ion-button fill="clear" style="width: fit-content;height: fit-content;"
                (click)="replyToComment(comment.id,comment.user,comment.comment,i)">
                {{replyString}}
              </ion-button>
            </div>
          </ion-col>

        </ion-row>
        <div *ngIf="comment.showReply">
          <div class="reply" *ngFor="let reply of comment.replys">
            <!-- <ion-row> -->
              <ion-row >
              <ion-col size="2">
                <div class="avtar_2">
                  <ion-avatar>
                    <img *ngIf="reply.r_profile_img_url!=''"
                      src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{reply.r_id}}/{{reply.r_profile_img_url}}"
                      (click)="rootUser(reply.user.id)">
                    <img *ngIf="reply.r_profile_img_url==''"
                      src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/default.png">
                  </ion-avatar>
                </div>
              </ion-col>
              <ion-col size="10">
                <div class="dimBack">
                  <ion-label>
                    <b>{{reply.r_first_name}}&nbsp;{{reply.r_last_name}}</b>
                    <span style="float: right;font-size: x-small;margin-top: 1%;">5 min ago</span>
                  </ion-label>
                  <div class="text"> {{reply.reply_content}} </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>


      </div>
    </div>


  </ion-card-content>
</ion-content>

<ion-footer>
  <div *ngIf="replyData"
    style="background:#dfdfdf;padding: 2%;padding-top: 4%;font-style: italic;width:95%;margin:auto;border-radius: 5px;">
    <ion-icon slot="start" name="close-circle" button (click)="replyData=temp"
      style="font-size: x-large;float:right;margin-top:-1%"></ion-icon>
    {{replyData.commeNt}}
    <span style="position: absolute;top:0;left:4%;font-size: x-small;color:#000;font-style: normal;">
      {{replyData.commenTer.first_name}}&nbsp;{{replyData.commenTer.last_name}}
    </span>
  </div>
  <div class="inputReply">

    <ion-row>
      <ion-col size="11">
        <ion-textarea wrap="soft" spellcheck="on" autoGrow="true" autocapitalize="sentences" class="ion-no-padding"
          style="max-height: 90px;" #inputComment placeholder="Awesome Input" [(ngModel)]="commentText"></ion-textarea>
      </ion-col>
      <ion-col size="1">
        <ion-icon button (click)="postComment()" name="send" style="display: contents;"></ion-icon>
      </ion-col>

    </ion-row>
  </div>
</ion-footer>