.closeIcon {
    font-size: x-large;
    position : fixed;
    left     : 3%;
    top      : 1%;
    z-index  : 999;
}

.commentContent {
    padding   : 1%;
    margin-top: 6%;
}

.comment {
    float        : left;
    width        : 100%;
    padding-bottom: 4%;
}

.reply {
    width: 90%;
    float: right;
}

.inputReply {
    padding: 2%;
}

.avtar {
    float     : right;
    width     : 38px;
    // margin: 0px 1%;
    height    : 38px;
    max-width : 100%;
    max-height: 100%;

    ion-avatar {
        height : inherit;
        width  : inherit;
        margin : 0px;
        padding: 0px;
    }
}

.avtar_2 {
    float     : right;
    width     : 28px;
    // margin: 0px 1%;
    height    : 28px;
    max-width : 100%;
    max-height: 100%;

    ion-avatar {
        height : inherit;
        width  : inherit;
        margin : 0px;
        padding: 0px;
    }
}

.text {
    // float: left;
    width : 100%;
    height: 100%;
}

.dimBack {
    background   : #dfdfdfb0;
    padding      : 2%;
    border-radius: 8px;
    margin       : 0px;
}

.replyBtn {
    position: absolute;
    top     : 4%;
    right   : 3%;
}