<div style="position: absolute;top:0;width:100%">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false" style="color:#fff;" menuToggle></ion-menu-button>
  </ion-buttons>
  <ion-title mode="md" class="ion-align-self-center">{{eventsString}}</ion-title>
</div>
<ion-content class="tribationBackground">
  <h2 style="width:80%;margin: auto;margin-top:40%;text-align: center;" class="white"> Feature Comming in next Release</h2>
</ion-content>