.div_cover_Pic {
  background   : #000;
  border-radius: 50%;
  font-size    : x-large !important;
  padding      : 2px;
}

.icons {
  position: fixed;
  width   : 100%;
  top     : 0;
  z-index : 999;
  padding : 3%;
}

.max-h-200 {
  max-height: 200px;
  position  : absolute;
  z-index   : -999;
  height    : 40%;
  width     : 100%;
}

ion-item.item-has-focus>ion-label {
  color: #000 !important;
}

.tribationBtn {
  width          : 95% !important;
  margin-left    : 10px !important;
  margin-right   : 10px !important;
  height         : 50px !important;
  --border-radius: 24px !important;
  font-size      : 18px !important;
}

.error {
  color: #f00;
}