ion-avatar {
    width : 42px;
    height: 42px;
}

.colContent {
    --padding-start : 0;
    --padding-end   : 0;
    --padding-top   : 0;
    --padding-bottom: 0;
    padding-left    : 0;
    padding-right   : 0;
    padding-top     : 0;
    padding-bottom  : 0;
    min-height      : 50px;
    justify-content : center;
}

.colLikeShare {
    display        : flex;
    justify-content: center;
    font-size      : x-large;
    --color        : #333;
    color          : #333;

    span {
        font-size: medium;
    }
}

.loading_img {
    background: transparent url(../../../assets/spinner.gif) center no-repeat;
}

.customTagPop {
    width     : max-content;
    padding   : 3%;
    max-height: 200px;
    overflow  : auto;
    position  : absolute;
    z-index   : 9999;
    margin-top: -1%;
    border    : #F79120 outset 0.1px;

    div {
        width: 100%;
    }
}

// .videoPlayButton {
//     font-size      : xxx-large;
//     z-index        : 9999;
//     display        : flex;
//     width          : 100%;
//     position       : absolute;
//     align-items    : center;
//     justify-content: center;
//     top            : 45%;
// }
// .video-thumbnail {
//     position: relative;
//     display : inline-block;
//     width   : 100%;
//     margin-bottom:10px;
// }

// .video-thumbnail img {
//     height: 190px;
//     width : 285px;
// }
.popUp {
    position     : absolute;
    background   : #fff;
    z-index      : 999;
    right        : 5%;
    padding      : 0px 2%;
    max-width    : 150px;
    top          : 27px;
    border-radius: 5px;
    border       : #cfcfcf solid 2px;
}

.videoPlayButtonSingle ion-icon {
    position      : absolute;
    top           : 50%;
    left          : 46%;
    // transform  : translate(-50%, -50%);
    font-weight   : bold;
    color         : #fff;
    font-size     : xx-large;
}

.adminPost {
    background: #2f2f5e;
    color     : #fff;
    // border: #f79320 solid 1px;

    padding: 3%;
}

.customTagPop {
    div:active {
        background   : #cfcfcf75;
        color        : #4c8dff;
        --background : #cfcfcf75;
        --color      : #4c8dff;
        padding      : 1px;
        border-radius: 5px;
    }
}

.selectable {
    -webkit-user-select : text;
    -moz-user-select    : text;
    -ms-user-select     : text;
    user-select         : text;
    font-size           : medium;
    padding             : 2%;
    // font-variant-caps: unicase;
    color               : #111;
}

.photoHolder {
    // height          : 160px;
    // width           : 175px;
    margin          : auto;
    overflow        : auto;
    // display: flex;
    // align-content: center;
    // justify-items: center;

    .videoPlayButton {
        height          : 160px;
        width           : 175px;
        display         : flex;
        align-items     : center;
        justify-content : center;
        position        : absolute;
        float           : left;
        // background   : #000;
        // padding   : 2%;
        // position     : absolute;
        // top       : 50%;
        // left      : 50%;
    }

    .videoPlayButton ion-icon {
        // transform  : translate(-50%, -50%);
        font-weight: bold;
        z-index    : 9999999999999999999;
        color      : #fff;
        font-size  : xx-large;
    }
}


.videoInTextBox {
    float: left;
    width: 100px;
    height: 80px;
    padding: 5%;

    video {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 5px;
    }

    ion-icon {
        font-size: large;
        color: #fff;
        position: absolute;
        background: #112;
        padding: 1px;
        margin: 0px;
        border-radius: 50%;
        z-index: 9999;
        margin-left: -12px;
        margin-top: -4px;
    }
}

.imageInTextBox {
    float: left;
    width: 80px;
    height: 80px;
    padding: 5%;

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 5px;
    }

    ion-icon {
        font-size: large;
        color: #fff;
        position: absolute;
        background: #112;
        padding: 1px;
        margin: 0px;
        border-radius: 50%;
        z-index: 9999;
        margin-left: -12px;
        margin-top: -4px;
    }
}