<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color:#fff;" menuToggle></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-align-self-center">{{timelineString}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index: 1;--color:#112;color: #112;">
    <ion-refresher-content refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Create Post Card -->
  <ion-card>
    <!-- Card Header -->
    <ion-item lines="none" style="border-bottom: 1px solid #d3d2d5;display: flex;justify-content: center;">
      <ion-avatar>
        <img *ngIf="profileImageURL!=null"
          src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{profileId}}/{{profileImageURL}}">
        <img *ngIf="profileImageURL==null" src="../../../assets/defaultProfile.png">
      </ion-avatar>
      <div style="margin-left:4%;color: #000; font-size: large;margin-top:-2%;">
        {{profileFirstname}}&nbsp;{{profileLastName}}</div>
      <div slot="end" style="display: flex;width: auto;align-items: end;margin: 0;">
        <span button class="noBackgroundItem" (click)="postLegacySelect()">
          <img *ngIf="legacySportIcon!=''" src="../../assets/bubblewithsports/{{legacySportIcon}}.png"
            style="height: auto;width:22px;">
          <img *ngIf="legacySportIcon==''" src="../../assets/comment-bubble.png" style="height: auto;width:22px;">
        </span>
        <span button class="noBackgroundItem" (click)="attachMediaInPost()">
          <ion-icon name="attach" aria-label="attach" style="font-size: x-large;opacity: 0.7;"></ion-icon>
        </span>
        <input type="file" onClick ="this.value = null" (change)="pickImageVideoFromDevice($event);" #userInput multiple accept="image/*,video/*"
          style="display:none;" />
      </div>
    </ion-item>


    <!-- Text Box -->
    <ion-row>
      <ion-col size="12">
        <ion-textarea [(ngModel)]="postContent" #postText class="selectable" (keyup)="mensioning($event.keyCode)"
          (keyup.space)="break($event)" autoGrow="true" (ionChange)="postContentEdit(postContent)"></ion-textarea>
      </ion-col>
      <div *ngFor="let photo of mediaArray; index as i">
        <div class="imageInTextBox" *ngIf="imageExtArray.indexOf(photo.type) > -1">
          <img size="3" [src]="photo.mediaUrl">
          <ion-icon *ngIf="mediaArray[i]!=''" name="close" (click)="removeimg(i)"> </ion-icon>
        </div>
        <div class="videoInTextBox" *ngIf="vidExtArray.indexOf(photo.type) > -1">
          <video size="3" preload="metadata" webkit-playsinline="webkit-playsinline" controls>
            <source [src]="photo.mediaUrl" />
          </video>
          <ion-icon *ngIf="mediaArray[i]!=''" name="close" (click)="removeimg(i)"> </ion-icon>
        </div>
      </div>
    </ion-row>

    <ion-button (click)="creatPost()" *ngIf="showPostButton" expand="full"
      style="--color:#fff;color:#fff;background: #112;--background: #112;">
      {{postString}}
    </ion-button>
    <!-- <ion-progress-bar *ngIf="progressBarval > 0" type="indeterminate" reversed="true"value={{progressBarval}}></ion-progress-bar> -->
    <ion-progress-bar *ngIf="progressBarval > 0" type="indeterminate"></ion-progress-bar>
  </ion-card>
  <!-- <h2 *ngIf="temprary" [innerHTML]="tempPostContent"></h2> -->


  <ion-card class="customTagPop" *ngIf="showMensionPickUp===true && searchFriendsList.length>0">
    <div *ngFor="let item of searchFriendsList" button (click)="onFriendTag(item)">
      <ion-avatar style="width: max-content;height: max-content;margin: 2% 0px;">
        <img style="width:25px;height: 25px;" *ngIf="item.profile_img_url!==''"
          src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{item.id}}/{{item.profile_img_url}}" />
        <img style="width:25px;height: 25px;" *ngIf="item.profile_img_url===''"
          src="../../../assets/defaultProfile.png" />
        &nbsp;
        {{item.name}}
      </ion-avatar>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </ion-card>
  <!-- end Create Post Card -->


  <!-- Admin -->
  <div *ngFor="let feed of postsArray">
    <ion-card *ngIf="feed.admin === 1" class="adminPost">
      <div (click)="dismissAdminPost(feed.id)"
        style="color:#Fff;position: absolute;right:4px;top:4px;font-size: large;">
        <ion-icon name="close"></ion-icon>
      </div>
      <ion-row style="padding: 3% 0;">
        {{feed.text}}
      </ion-row>
    </ion-card>
  </div>
  <!-- End Admin -->

  <div *ngIf="postsArray.length<=0">
    <div style="width:100%;height:0;padding-bottom:100%;position:relative;">
      <ion-img src="../../../assets/football.gif" allowFullScreen>
      </ion-img>
    </div>
  </div>
  <!-- Feeds -->
  <div *ngFor="let feed of postsArray; let i=index">
    <ion-card *ngIf="feed.admin === 0">
      <!-- Feed Head -->
      <ion-row style="padding: 3% 0;">
        <ion-col size="2" style="display: flex;align-items: center;" class="colContent">
          <ion-avatar>
            <img (click)="goToProfile(feed.user.id)" *ngIf="feed.user.profile_img_url!=''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{feed.user.id}}/{{feed.user.profile_img_url_thump}}">
            <img *ngIf="feed.user.profile_img_url===''" src="../../../assets/defaultProfile.png">
          </ion-avatar>
        </ion-col>
        <ion-col size="9" class="colContent">
          <ion-row style="margin-top: 2%;font-size: medium;color: #000;">
            <div button (click)="goToProfile(feed.user.id)">{{feed.user.first_name}}&nbsp;{{feed.user.last_name}}
            </div>
            <div *ngIf="feed.shared===1">
              {{sharedString}}&nbsp;<a
                href={{feed.sharedPostData.user.id}}>{{feed.sharedPostData.user.first_name}}&nbsp;{{feed.sharedPostData.user.last_name}}</a>{{someonesPostString}}
            </div>
          </ion-row>
          <ion-row style="font-size: x-small;">
            {{getTimeFromNow(feed.created)}}
          </ion-row>
        </ion-col>

        <ion-col size="1" style="display: flex;align-items: center;" class="colContent" button
          (click)="openPopUpEdit(i,feed,feed.user.id)">
          <ion-icon src="../../../assets/iconsSvg/ellipsis-vertical.svg" style="font-size: large;color:#000">
          </ion-icon>
        </ion-col>

        <!-- <div class="popUp" *ngIf="feed.popUP"> -->
        <!-- <ion-backdrop stopPropagation="true" tappable="true" (ionBackdropTap)="openPopUpEdit(i)"> 
           </ion-backdrop>
            <ion-list class="ion-no-padding ion-no-margin">
              <ion-item class="ion-no-padding ion-no-margin">
                <ion-label>{{editString}}</ion-label>
                <ion-icon slot="end" src='../../../assets/edit.svg'></ion-icon>
              </ion-item>
              <ion-item class="ion-no-padding ion-no-margin">

                <ion-label>{{deleteString}}</ion-label>
                <ion-icon slot="end" name="trash" style="color: #000;"></ion-icon>
              </ion-item>
            </ion-list>
        </div> -->
      </ion-row>
      <!-- end Feed Head -->

      <!-- Feed Content -->
      <div class="ion-no-padding" style="padding:2% 4% 5% 4%;">

        <div *ngIf="feed.content && feed.shared===0" [innerHTML]="feed.content"
          style="min-height:30px;align-items: center;"> </div>
        <div *ngIf="feed.sharedPostData && feed.shared===1" [innerHTML]="feed.sharedPostData.content"
          style="min-height:30px;align-items: center;"> </div>
        <div class="album" *ngIf="feed.assets.length >=1">
          <div style="width: 100%;justify-content: center;" class="loading_img" *ngIf="feed.assets.length==1"
            (click)="openMultiMedia(feed.assets,0)">
            <img
              style="height:auto;width: 100%;object-fit: contain;border-radius: 5px; background:#fff;max-height: 400px;min-height:180px"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{feed.assets[0].asset_thumb_url}}" />
            <div class="videoPlayButtonSingle"
              *ngIf="feed.assets[0].post_type=='mp4' || feed.assets[0].post_type=='qt' || feed.assets[0].asset_type=='mp4' || feed.assets[0].asset_type=='qt' || feed.assets[0].asset_type=='mov' || feed.assets[0].post_type=='mov'">
              <ion-icon name="caret-forward-circle" class="white"></ion-icon>
            </div>
          </div>
          <div id="photos" *ngIf="feed.assets.length>1 && feed.assets.length<4">
            <div *ngFor="let media of feed.assets;let i=index;">
              <div class="photoHolder" (click)="openMultiMedia(feed.assets,i)">

                <img class="loading_img"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}" />
                <div class="videoPlayButton"
                  *ngIf="media.post_type=='mp4' || media.post_type=='qt' || media.asset_type=='mp4' || media.asset_type=='qt' || media.asset_type=='mov' || media.post_type=='mov'">
                  <ion-icon name="caret-forward-circle" class="white"></ion-icon>
                </div>
              </div>
            </div>
          </div>
          <div id="photos" *ngIf="feed.assets.length>4">
            <div *ngFor="let media of feed.assets;let i=index;">
              <div *ngIf="3>i">
                <div class="photoHolder" (click)="openMultiMedia(feed.assets,i)">
                  <img class="loading_img"
                    src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}" />
                  <div class="videoPlayButton"
                    *ngIf="media.post_type=='mp4' || media.post_type=='qt' || media.asset_type=='mp4' || media.asset_type=='qt' || media.asset_type=='mov' || media.post_type=='mov'">
                    <ion-icon name="caret-forward-circle" class="white"></ion-icon>
                  </div>
                </div>
              </div>
              <div *ngIf="i===3"
                style="position: relative;text-align: center;background-color:rgba(0, 0, 0,0.7);border-radius: 5px;">
                <div class="photoHolder" (click)="openMultiMedia(feed.assets,i)">
                  <img class="loading_img" style="opacity: 0.15; margin-bottom: 0;"
                    class="img-fluid post-img img_height loading_img"
                    src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}">
                  <div
                    style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: x-large;font-weight: bold;color:rgb(255, 255, 255);">
                    +{{feed.assets.length - 3}}
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- end Feed Content -->

      <!-- Feed Like Share Comment -->
      <ion-footer>
        <ion-row style="font-size: large;padding: 2% 0%;">
          <ion-col class="colLikeShare" button (click)="likePost(feed.id, i)">
            <ion-icon src="../../../assets/iconsSvg/heart-outline.svg" *ngIf="feed.liked===0"></ion-icon>
            <ion-icon src="../../../assets/iconsSvg/heart.svg" *ngIf="feed.liked===1" color="danger"></ion-icon>
            <span *ngIf="feed.likes > 0">{{feed.likes}}</span>
          </ion-col>
          <ion-col class="colLikeShare" button (click)="commentPost(feed, i)">
            <ion-icon src="../../../assets/iconsSvg/chatbubble-ellipses-outline.svg" *ngIf="feed.commented===0">
            </ion-icon>
            <ion-icon src="../../../assets/iconsSvg/chatbubble-ellipses.svg" *ngIf="feed.commented===1"
              style="color: #454545;"></ion-icon>
            <span *ngIf="feed.comments > 0">{{feed.comments}}</span>
          </ion-col>
          <ion-col class="colLikeShare" button (click)="sharePost(feed.id, i)" *ngIf="feed.user.id !== userDetail.id">
            <ion-icon src="../../../assets/iconsSvg/arrow-redo-outline.svg" *ngIf="feed.youShared===0"></ion-icon>
            <ion-icon src="../../../assets/iconsSvg/arrow-redo.svg" *ngIf="feed.youShared===1" style="color: #f79120;">
            </ion-icon>
            <span *ngIf="feed.shares > 0">{{feed.shares}}</span>
          </ion-col>
          <div class="colLikeShare" style="    align-items: center;
          margin-right: 3%;">
            <ion-icon src="../../../assets/body-outline.svg"></ion-icon>
          </div>
        </ion-row>
      </ion-footer>
      <!-- end Feed Like Share Comment -->

    </ion-card>
  </div>
  <!-- end Feeds -->


  <ion-infinite-scroll *ngIf="limitReached===false" threshold="100px" (ionInfinite)="loadMorePost($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Getting Feeds"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>