ion-slides {
    height: 100%;
    width : 100%;
}

.loading_img {
    background     : transparent url(../../../assets/spinner.gif) center no-repeat;
    height         : auto;
    width          : 100%;
    justify-content: center;
}

.imageContainer {
    width : 92%;
    margin: auto !important;
}

.swiper-zoom-container {
    height: auto !important;
    margin: auto;
}

