<ion-content class="tribationBackground">
  <div class="pageContent">
    <div class="logo">
      <img src="../../../assets/logo2.png" alt="Tribation">
    </div>
    <div class="loader">
      <img src="../../../assets/iconsSvg/lodingTribColor.gif" >
    </div>
  </div>
</ion-content>