.pageContent {
    margin : 4% 7%;
    color  : #fff !important;
    --color: #fff !important;
}

.logo {
    margin: 15%;
    margin-top: 40%;

    img {
        max-width: 100%;
        height   : auto;
    }
}
.loader{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    bottom: -10%;
    width: -webkit-fill-available;
    left: 0;

}