<ion-header mode="md">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" class="white" menuToggle></ion-menu-button>
    </ion-buttons>
    <div style="margin-right:3%;display: flex;">

      <ion-title class="ion-align-self-center">{{settingsString}}</ion-title>
      <!-- <img slot="end" class="pos-r-6 wid-all-29" routerLink="searchin-app" src="assets/icons/{{peoplesearch}}" /> -->
      <!-- <ion-icon name="search" button style="font-size: x-large;color: #bfbfbf;" [routerLink]="['/searchin-app']">
      </ion-icon> -->
    </div>
  </ion-toolbar>
</ion-header>
<!--=========== Header Ends ============-->
<!--=========== Page Content Starts ==========-->
<ion-content class="settings-container">
  <ion-list class="setting-list ion-padding" mode="ios">

    <!-- Account SECTION -->
    <ion-list-header class="settings-header">
      <ion-label *ngIf="!accountString">
        <ion-skeleton-text animated style="width: 90%;height: 20px;"></ion-skeleton-text>
      </ion-label>

      <ion-label *ngIf="accountString">{{accountString}}</ion-label>
    </ion-list-header>

    <ion-item lines="none" detail="true" routerLink="edit-profile" *ngIf="userDetail.user_type==='regular' || userDetail.user_type==='verified' ">
      {{editProfileString}}
    </ion-item>

    <ion-item lines="none" detail="false" (click)="scoutCantEdit()" *ngIf="userDetail.user_type==='scout' ">
      {{editProfileString}}
    </ion-item>

    <ion-item lines="none" routerLink="change-password" detail="true">
      {{changePasswordString}}
    </ion-item>

    <ion-item lines="none" routerLink="privacy-setting" detail="true">
      {{privacySecurityString}}
    </ion-item>

    <!-- Settings SECTION -->
    <ion-list-header class="settings-header">
      <ion-label>{{settingsString}}</ion-label>
    </ion-list-header>
    <ion-item lines="none" detail="true" routerLink="language">
      {{languageString}}
    </ion-item>
    <ion-item lines="none" detail="true" routerLink="notification-setting">
      {{notificationsString}}
    </ion-item>

    <!-- ABOUT SECTION -->
    <ion-list-header class="settings-header">
      <ion-label>{{aboutString}}</ion-label>
    </ion-list-header>
    <ion-item lines="none" detail="true" routerLink="help-center">
      {{helpCenterString}}
    </ion-item>
    <ion-item lines="none" detail="true" routerLink="report-aproblem">
      {{reportProblemString}}
    </ion-item>

  </ion-list>
</ion-content>