.settings-container {
    .setting-list {
        ion-list-header {
            height         : 45px;
            min-height     : 45px;
            display        : flex;
            align-items    : center !important;
            justify-content: space-between;

            ion-label {
                display: contents;
            }
        }

        .settings-header {
            --background  : #112 !important;
            color         : #fff;
            text-transform: uppercase !important;
            font-size     : 14px;
            font-weight   : 600;
        }

        ion-item {
            font-size    : 14px !important;
            border-bottom: 1px solid #dedee1 !important;
            align-items  : center !important;
            // ion-icon{font-size: 16px;}
        }
    }
}