<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index: 1;--color:#112;color: #112;">
    <ion-refresher-content refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <div class="cover white" [ngStyle]="{'background-image': 'url('+ coverUrl +')'}">
    <div class="insideCover">
      <ion-item lines="none" class="topBarMyInfo noBackgroundItem white">
        <ion-icon slot="start" name="arrow-back" class="white" (click)="back()"></ion-icon>
        <div slot="end" buttton>
          <ion-icon name="camera" buttton *ngIf="coverBg==true" class="topBarMyInfo_Text" (click)="moreAction1()">
          </ion-icon>
          <ion-icon name="camera" buttton *ngIf="coverBg==false" class="topBarMyInfo_Text" (click)="coverNull()">
          </ion-icon>
        </div>
      </ion-item>
      <div class="avtr_and_name white" *ngIf="userProfileDetail">
        <div class="ion-text-center" style="display: flex;justify-content: center;height: 86px;">
          <ion-avatar (click)="viewProfileImage(this.pic_url,'','','image')"
            style="display: flex;width:72px; height: 72px;">
            <img class="profile-img" *ngIf="userProfileDetail.profile_img_url!=''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{userProfileDetail.id}}/{{userProfileDetail.profile_img_url}}">
            <img class="profile-img" *ngIf="userProfileDetail.profile_img_url==''"
              src="../../../assets/defaultProfile.png">
          </ion-avatar>
          <ion-icon name="camera" class="myProfile_av" (click)="presentActionSheetProfile()"></ion-icon>
        </div>

        <div style="width: -webkit-fill-available; text-align: center;margin-top:-4%">
          <div style="color:#fff;font-size: large;">
            <b>{{userProfileDetail.first_name}} {{userProfileDetail.last_name}}</b>
          </div>
          <small style="color: #fff;display: block;">
            <ion-icon class="white" name="pin"></ion-icon>&nbsp;
            <span style="text-transform: capitalize;">{{userProfileDetail.city}}</span>
            <span *ngIf="userProfileDetail.country_code!='0'">
              <span *ngIf="userProfileDetail.country_code!=''">,
                {{userProfileDetail.country_code}} </span>
            </span>
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="topBar">
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="checkedSegment" value="home" class="seg"
      scrollable="true" mode="ios">
      <ion-segment-button mode="ios" href="#home" value="home" class="segTabs">
        <div style="display: flex;align-items: center;">
          <ion-icon class="segIcon" name="home"></ion-icon> &nbsp;
          <div class="ion-text-wrap segText">{{homeString}}</div>
        </div>
      </ion-segment-button>
      <ion-segment-button mode="ios" href="#media" value="media" class="segTabs">
        <div style="display: flex;align-items: center;">
          <ion-icon class="segIcon" name="albums"></ion-icon> &nbsp;
          <div class="ion-text-wrap segText">{{mediaString}}</div>
        </div>
      </ion-segment-button>
      <ion-segment-button mode="ios" href="#media" value="friends" class="segTabs">
        <div style="display: flex;align-items: center;">
          <ion-icon class="segIcon" name="people"></ion-icon> &nbsp;
          <div class="ion-text-wrap segText">{{friendsString}}</div>
        </div>
      </ion-segment-button>
      <ion-segment-button mode="ios" href="#about" value="about" class="segTabs" (click)="openProtfolio()">
        <div style="display: flex;align-items: center;">
          <ion-icon class="segIcon" name="person"></ion-icon> &nbsp;
          <!-- <img class="segIcon" src="../../../assets/idCardClip.png" style="width:30px;height: auto;" /> -->
          <div class="ion-text-wrap segText">{{portfolioString}}</div>
        </div>
      </ion-segment-button>
    </ion-segment>
    <!-- <div style="float: right;align-items: center;display: flex;">
      Portfolio&nbsp;
      <img src="../../../assets/idCardClip.png" style="width:30px;height: auto;"/>
    </div> -->
  </div>

  <div *ngIf="checkedSegment==='home'">
    <div *ngIf="postsArray.length>=1 ">

      <!-- Feeds -->
      <div *ngFor="let feed of postsArray; let i=index">
        <ion-card *ngIf="feed.admin === 0">
         
          <div button (click)="unFriend(feed.user.id, feed.user.first_name)">unfriend</div>
          <div button (click)="sendFriendReq(feed.user.id)">sendRequest</div>
          <div button (click)="cancelFriendreq(feed.user.id)">cancelreq</div>

          <!-- Feed Head -->
          <ion-row style="padding: 3% 0;">
            <ion-col size="2" style="display: flex;align-items: center;" class="colContent">
              <ion-avatar>
                <img (click)="goToProfile(feed.user.id)" *ngIf="feed.user.profile_img_url!=''"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{feed.user.id}}/{{feed.user.profile_img_url_thump}}">
                <img *ngIf="feed.user.profile_img_url===''" src="../../../assets/defaultProfile.png">
              </ion-avatar>
            </ion-col>
            <ion-col size="9" class="colContent">
              <ion-row style="margin-top: 2%;font-size: medium;color: #000;">
                <div button (click)="goToProfile(feed.user.id)">{{feed.user.first_name}}&nbsp;{{feed.user.last_name}}
                </div>
                <div *ngIf="feed.shared===1">
                  {{sharedString}}&nbsp;<a
                    href={{feed.sharedPostData.user.id}}>{{feed.sharedPostData.user.first_name}}&nbsp;{{feed.sharedPostData.user.last_name}}</a>{{someonesPostString}}
                </div>
              </ion-row>
              <ion-row style="font-size: x-small;">
                {{getTimeFromNow(feed.created)}}
              </ion-row>
            </ion-col>

            <ion-col size="1" style="display: flex;align-items: center;" class="colContent" button
              (click)="openPopUpEdit(i,feed,feed.user.id)">
              <ion-icon src="../../../assets/iconsSvg/ellipsis-vertical.svg" style="font-size: large;color:#000">
              </ion-icon>
            </ion-col>

            <!-- <div class="popUp" *ngIf="feed.popUP"> -->
            <!-- <ion-backdrop stopPropagation="true" tappable="true" (ionBackdropTap)="openPopUpEdit(i)"> 
           </ion-backdrop>
            <ion-list class="ion-no-padding ion-no-margin">
              <ion-item class="ion-no-padding ion-no-margin">
                <ion-label>{{editString}}</ion-label>
                <ion-icon slot="end" src='../../../assets/edit.svg'></ion-icon>
              </ion-item>
              <ion-item class="ion-no-padding ion-no-margin">

                <ion-label>{{deleteString}}</ion-label>
                <ion-icon slot="end" name="trash" style="color: #000;"></ion-icon>
              </ion-item>
            </ion-list>
        </div> -->
          </ion-row>
          <!-- end Feed Head -->

          <!-- Feed Content -->
          <div class="ion-no-padding" style="padding:2% 4% 5% 4%;">

            <div *ngIf="feed.content && feed.shared===0" [innerHTML]="feed.content"
              style="min-height:30px;align-items: center;"> </div>
            <div *ngIf="feed.sharedPostData && feed.shared===1" [innerHTML]="feed.sharedPostData.content"
              style="min-height:30px;align-items: center;"> </div>
            <div class="album" *ngIf="feed.assets.length >=1">
              <div style="width: 100%;justify-content: center;" class="loading_img" *ngIf="feed.assets.length==1"
                (click)="openMultiMedia(feed.assets,0)">
                <img
                  style="height:auto;width: 100%;object-fit: contain;border-radius: 5px; background:#fff;max-height: 400px;min-height:180px"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{feed.assets[0].asset_thumb_url}}" />
                <div class="videoPlayButtonSingle"
                  *ngIf="feed.assets[0].post_type=='mp4' || feed.assets[0].post_type=='qt' || feed.assets[0].asset_type=='mp4' || feed.assets[0].asset_type=='qt' || feed.assets[0].asset_type=='mov' || feed.assets[0].post_type=='mov'">
                  <ion-icon name="caret-forward-circle" class="white"></ion-icon>
                </div>
              </div>
              <div id="photos" *ngIf="feed.assets.length>1 && feed.assets.length<4">
                <div *ngFor="let media of feed.assets;let i=index;">
                  <div class="photoHolder" (click)="openMultiMedia(feed.assets,i)">

                    <img class="loading_img"
                      src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}" />
                    <div class="videoPlayButton"
                      *ngIf="media.post_type=='mp4' || media.post_type=='qt' || media.asset_type=='mp4' || media.asset_type=='qt' || media.asset_type=='mov' || media.post_type=='mov'">
                      <ion-icon name="caret-forward-circle" class="white"></ion-icon>
                    </div>
                  </div>
                </div>
              </div>
              <div id="photos" *ngIf="feed.assets.length>4">
                <div *ngFor="let media of feed.assets;let i=index;">
                  <div *ngIf="3>i">
                    <div class="photoHolder" (click)="openMultiMedia(feed.assets,i)">
                      <img class="loading_img"
                        src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}" />
                      <div class="videoPlayButton"
                        *ngIf="media.post_type=='mp4' || media.post_type=='qt' || media.asset_type=='mp4' || media.asset_type=='qt' || media.asset_type=='mov' || media.post_type=='mov'">
                        <ion-icon name="caret-forward-circle" class="white"></ion-icon>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="i===3"
                    style="position: relative;text-align: center;background-color:rgba(0, 0, 0,0.7);border-radius: 5px;">
                    <div class="photoHolder" (click)="openMultiMedia(feed.assets,i)">
                      <img class="loading_img" style="opacity: 0.15; margin-bottom: 0;"
                        class="img-fluid post-img img_height loading_img"
                        src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}">
                      <div
                        style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: x-large;font-weight: bold;color:rgb(255, 255, 255);">
                        +{{feed.assets.length - 3}}
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
          <!-- end Feed Content -->

          <!-- Feed Like Share Comment -->
          <ion-footer>
            <ion-row style="font-size: large;padding: 2% 0%;">
              <ion-col class="colLikeShare" button (click)="likePost(feed.id, i)">
                <ion-icon src="../../../assets/iconsSvg/heart-outline.svg" *ngIf="feed.liked===0"></ion-icon>
                <ion-icon src="../../../assets/iconsSvg/heart.svg" *ngIf="feed.liked===1" color="danger"></ion-icon>
                <span *ngIf="feed.likes > 0">{{feed.likes}}</span>
              </ion-col>
              <ion-col class="colLikeShare" button (click)="commentPost(feed, i)">
                <ion-icon src="../../../assets/iconsSvg/chatbubble-ellipses-outline.svg" *ngIf="feed.commented===0">
                </ion-icon>
                <ion-icon src="../../../assets/iconsSvg/chatbubble-ellipses.svg" *ngIf="feed.commented===1"
                  style="color: #454545;"></ion-icon>
                <span *ngIf="feed.comments > 0">{{feed.comments}}</span>
              </ion-col>
              <ion-col class="colLikeShare" button (click)="sharePost(feed.id, i)"
                *ngIf="feed.user.id !== userDetail.id">
                <ion-icon src="../../../assets/iconsSvg/arrow-redo-outline.svg" *ngIf="feed.youShared===0"></ion-icon>
                <ion-icon src="../../../assets/iconsSvg/arrow-redo.svg" *ngIf="feed.youShared===1"
                  style="color: #f79120;">
                </ion-icon>
                <span *ngIf="feed.shares > 0">{{feed.shares}}</span>
              </ion-col>
              <div class="colLikeShare" style="    align-items: center;
          margin-right: 3%;">
                <ion-icon src="../../../assets/body-outline.svg"></ion-icon>
              </div>
            </ion-row>
          </ion-footer>
          <!-- end Feed Like Share Comment -->

        </ion-card>
      </div>
      <!-- end Feeds -->


    </div>
    <ion-infinite-scroll *ngIf="limitReached===false" threshold="100px" (ionInfinite)="loadMorePost($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Getting Feeds"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <!--End Home-->

  <!-- <div *ngIf="checkedSegment==='about'"></div> -->
  <div *ngIf="checkedSegment==='media'" class="mainMedia">
    <div class="personal_Media">
      <div *ngFor="let media of personalMedia;let m=index;">
        <div class="photoItem" button (click)="openMultiMedia(personalMedia,m)">
          <img class="loading_img img-fluid post-img img_height loading_img"
            src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{media.asset_thumb_url}}" />
          <div class="videoPlayButton" style="height: 175px;"
            *ngIf="media.post_type=='mp4' || media.post_type=='qt' || media.asset_type=='mp4' || media.asset_type=='qt' || media.asset_type=='mov' || media.post_type=='mov'">
            <ion-icon name="caret-forward-circle" class="white"></ion-icon>
          </div>
        </div>
        <div *ngIf="m%2 === 0" class="divider"></div>

      </div>
    </div>

  </div>
  <div *ngIf="checkedSegment==='friends'">

    <div class=" frnd_pad ">
      <div class="search_bar">
        <ion-searchbar class="search_bar ion-no-padding" color="light" [(ngModel)]="searchFriendsTerm" mode="ios"
          (ionChange)="setFilteredItem(searchTerm)" placeholder="{{searchString}}" showCancelButton="never"
          style="width:95%;margin: auto;">
        </ion-searchbar>

      </div>
      <div class="container">
        <div *ngIf="!myfrndsList">
          <h6 style="text-align: center;">{{no_friends_list}}</h6>
        </div>
        <ion-list *ngIf="myfrndsList">
          <ion-item *ngFor="let frnd of myfrndsList | friends:searchFriendsTerm">
            <ion-item (click)="viewProfile(frnd.id)">
              <ion-avatar slot="start" (click)="friendDetail(frnd.id)">
                <img *ngIf="frnd.profile_img_url_thump!=null"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{frnd.id}}/{{frnd.profile_img_url_thump}}">
                <img *ngIf="frnd.profile_img_url_thump==null"
                  src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/default.png">
              </ion-avatar>
              <ion-label (click)="friendDetail(frnd.id)">
                <h2 class="ion-text-wrap capital" (click)="friendDetail(frnd.id)">{{frnd.name}}</h2>
                <p class="para_size" style="text-transform: capitalize;">
                  <ion-icon name="pin" class="icon_location"></ion-icon><span *ngIf="frnd.country_code!='0'">
                    {{frnd.city}}, {{frnd.country_name}} </span><span
                    *ngIf="frnd.country_code=='0' || frnd.country_code=='' || frnd.country_code=='null'">
                    {{frnd.city}}</span>
                </p>

              </ion-label>
              <!-- <ion-icon style="font-size: x-large;" name="chatbubbles" class="black" (click)="rootMsgPage(frnd.id)"> 
            </ion-icon> -->
            </ion-item>
            <!-- <ion-item-options>
            <ion-button class="unfrnd-btn capital ion-text-wrap" color="danger" expand="full"
              (click)="unFriend(frnd.id,frnd.name)">{{unfriendString}}</ion-button>
          </ion-item-options> -->
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>
<!-- 
<ion-button>
  Open Portfolio
</ion-button> -->