ion-avatar {
    width : 42px;
    height: 42px;
}

.colContent {
    --padding-start : 0;
    --padding-end   : 0;
    --padding-top   : 0;
    --padding-bottom: 0;
    padding-left    : 0;
    padding-right   : 0;
    padding-top     : 0;
    padding-bottom  : 0;
    min-height      : 50px;
    justify-content : center;
}

.colLikeShare {
    display        : flex;
    justify-content: center;
    font-size      : x-large;
    --color        : #333;
    color          : #333;

    span {
        font-size: medium;
    }
}

.loading_img {
    background: transparent url(../../../assets/spinner.gif) center no-repeat;
}

.topBar {
    height   : max-content;
    max-width: 100%;
    padding  : 3%;
    overflow : auto;
}

.cover {
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    height                 : 40%;
    width                  : 100%;
    background-repeat      : no-repeat;
    background-position-x  : center;
    background-position-y  : center;
}

.customTagPop {
    width     : max-content;
    padding   : 3%;
    max-height: 200px;
    overflow  : auto;
    position  : absolute;
    z-index   : 9999;
    margin-top: -1%;
    border    : #F79120 outset 0.1px;

    div {
        width: 100%;
    }
}

.videoPlayButtonSingle ion-icon {
    position      : absolute;
    top           : 50%;
    left          : 46%;
    // transform  : translate(-50%, -50%);
    font-weight   : bold;
    color         : #fff;
    font-size     : xx-large;
}

.photoHolder {
    // height          : 160px;
    // width           : 175px;
    margin          : auto;
    overflow        : auto;
    // display: flex;
    // align-content: center;
    // justify-items: center;


}

.videoPlayButton {
    height          : 160px;
    width           : 175px;
    display         : flex;
    align-items     : center;
    justify-content : center;
    position        : absolute;
    float           : left;
    // background   : #000;
    // padding   : 2%;
    // position     : absolute;
    // top       : 50%;
    // left      : 50%;
}

.videoPlayButton ion-icon {
    // transform  : translate(-50%, -50%);
    font-weight: bold;
    z-index    : 9999999999999999999;
    color      : #fff;
    font-size  : xx-large;
}

.insideCover {
    background   : rgba(0, 0, 0, 0.65) !important;
    display      : flex;
    height       : 100%;
    border-bottom: #f79120 double 3px;
    width        : 100%;
}

.avtr_and_name {
    // display   : flex;
    width      : 100%;
    align-items: center;
    margin     : auto;
}

.topBarMyInfo {
    display     : flex;
    position    : absolute;
    top         : 0;
    left        : 0;
    width       : 100%;
    --background: transparent;

    ion-icon {
        font-size: xx-large;
    }
}

.myProfile_av {
    display      : flex;
    color        : #fff;
    background   : #000000;
    border-radius: 100%;
    font-size    : large;
    padding      : 3px;
    position     : absolute;
    margin-left  : 15%;
}

.customTagPop {
    div:active {
        background   : #cfcfcf75;
        color        : #4c8dff;
        --background : #cfcfcf75;
        --color      : #4c8dff;
        padding      : 1px;
        border-radius: 5px;
    }
}

.selectable {
    -webkit-user-select : text;
    -moz-user-select    : text;
    -ms-user-select     : text;
    user-select         : text;
    font-size           : medium;
    padding             : 2%;
    // font-variant-caps: unicase;
    color               : #111;
}

ion-segment {
    border-left  : #2f2f2f double 1px;
    border-right : #2f2f2f double 1px;
    --background : #7f7f7f;
    border-radius: 0px;
}

ion-segment-button {
    --background        : #eee;
    --color             : #000;
    --background-focused: #c2741a;
    --background-checked: #c2741a;
    --background-hover  : #c2741a;
    --border-color      : #112;
    --indicator-color   : #f79120;
    --color-checked     : #fff;
    --color-hover       : #fff;
    font-size           : small;
    --border-radius     : 0px;
    padding             : 1px 0px;
    margin              : 0px;

    ion-icon {
        font-size   : small;
        // display  : none;

    }
}

.mainMedia {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
}

.personal_Media {
    width          : 95%;
    // padding-left   : 5%;
    margin-left    : auto;
    overflow       : hidden;
    align-items    : center;
    justify-content: center;
    height         : fit-content;
}

.divider {
    width : 5%;
    height: 160px;
    float : left;
}

.photoItem {
    float         : left;
    width         : 45%;
    height        : fit-content;
    margin-bottom: 15px;

    img {
        height       : 160px;
        width        : 175px;
        object-fit   : cover;
        border-radius: 5px;
    }
}