<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-icon slot="start" name="close" class="white fnt-18" (click)="back()"></ion-icon>
    <ion-title mode="md" class="ion-align-self-center">{{VieweventTitleString}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--=========== Header Ends ============-->

<ion-content mode="ios">
  <div style="margin: auto;width: 90%;margin-top: 5%;">
    <ion-item class="ion-no-padding">
      <ion-label style="opacity: 1;color: #615d5d;" position="stacked">{{eventTitleString}}</ion-label>
      <ion-input disabled="true">{{this.eventList.event_title}}</ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label style="opacity: 1;color: #615d5d;" position="stacked">{{eventDescString}}</ion-label>
      <ion-textarea disabled="true">{{this.eventList.event_description}}</ion-textarea>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-label style="opacity: 1;color: #615d5d;" position="stacked">{{eventDateString}}</ion-label>
      <ion-input disabled="true">{{this.eventList.event_date}}</ion-input>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-label style="opacity: 1;color: #615d5d;" position="stacked">{{eventVenueString}}</ion-label>
      <ion-input disabled="true">{{this.eventList.event_venue}}</ion-input>
    </ion-item>
  </div>

  <div class="teamName ion-text-capitalize">
    {{this.eventList.teamname}}
  </div>

  <div class="claenderAction">
    <ion-fab slot="fixed" horizontal="end">
      <ion-fab-button>
        <!-- <ion-fab-button matTooltipPosition="below" matTooltip="{{followString}}"> -->
        <ion-icon name="calendar" mode="md"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button (click)="updateCal(this.eventList)">
          <!-- <ion-fab-button (click)="updateCal(this.eventList)" matTooltipPosition="above" matTooltip="{{syncString}}"> -->
          <ion-icon name="sync"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="removeCal(this.eventList)" >
          <!-- <ion-fab-button (click)="removeCal(this.eventList)" matTooltipPosition="above" matTooltip="{{addString}}"> -->
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="alarm.open()">
          <!-- <ion-fab-button (click)="alarm.open()" matTooltipPosition="above" matTooltip="{{addString}}"> -->
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-datetime displayFormat="hh-mm-A" #alarm [(ngModel)]="alarmTime" 
      (ionChange)="checkAndAddToCalnder()" (ionBlur)="checkAndAddToCalnder()"
      style="overflow: visible !important;text-overflow: unset !important;">
    </ion-datetime>
    <ion-datetime displayFormat="hh-mm-A" #alarmUpdated [(ngModel)]="alarmTimeUpdated"
      (ionChange)="updateCalender()" (ionBlur)="updateCalender()" (ionCancel)="updateCalender()"
      style="overflow: visible !important;text-overflow: unset !important;">
    </ion-datetime>
  </div>
</ion-content>