ion-row {
    clear: both;
}

.select-icon {
    display: none;
}

.styleCard {
    border-bottom: double #112 5px;
    margin-bottom: 2%;
    padding      : 1% 1% 3% 1%;
}

.name {
    --color      : #000;
    color        : #000;
    font-size    : large;
    float        : left;
    text-overflow: ellipsis;
    overflow     : hidden;
    max-width    : max-content;
    white-space  : nowrap;
}

.info {
    margin: auto;
}

ion-card-header {
    padding: 2%;
}

ion-card-title {
    color          : #989898;
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-align     : center;

    ion-icon {
        // position : absolute;
        // right    : 1%;
        font-size: x-large;
        color    : #473116a8;
    }
}

.editDelete {
    position  : absolute;
    width     : max-content;
    right     : 0;
    margin-top: -2.5%;

    ion-button {
        float: left;
    }

    ion-icon {
        float    : left;
        font-size: medium;
        padding  : 2%;
    }
}

.editBlock {
    ion-button {
        z-index   : 9999;
        position: absolute;
        right: 2%;
        top: 0;
        padding:2px 2%;
        ion-icon {
            font-size: x-large;
        }
    }
}