<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color:#fff;" menuToggle></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-align-self-center">{{requestsString}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="noRequest==true">
  <div class="noReq ion-text-capitalize ion-text-center" style="margin-top:42% ;">
    <ion-icon mode="ios" src="../../../assets/UserThree.svg" style="font-size: 900%;color: #3a3a3a;"></ion-icon>
    <div style="margin-top:-8%;">{{noRequestsString}}</div>
  </div>
</ion-content>

<ion-content *ngIf="noRequest==false">

  <!-- Friend Request -->
  <ion-card *ngIf="friendReqList.length>0" class="cardMaxHeight">
    <ion-card-header>
      <div class="frndReqBorderBtm">{{friendReqString}} ({{friendRequests.length}})</div>
    </ion-card-header>
    <ion-card-content>

      <div class="search_bar">
        <ion-searchbar class="search_bar ion-no-padding" color="light" [(ngModel)]="searchFriendsTerm" mode="ios"
          (ionChange)="searchFrndReq(searchFriendsTerm)" placeholder="{{searchString}}" showCancelButton="never"
          style="width:100%;">
        </ion-searchbar>
      </div>
      <div *ngIf="friendRequests.length==0">
        <h6 style="text-align: center;">{{noFriendReqString}}</h6>
      </div>

      <ion-list>
        <ion-item-sliding *ngFor="let item of friendRequests ; let i = index;" class="reqListMargin">
          <ion-item lines="none" style="align-items: start; border-radius: 11px;" (click)="friendDetail(item.id)">
            <ion-avatar class="frnd_avatar" slot="start" style="width: 15%; height: 68%;">
              <img *ngIf="item.profile_img_url!=''"
                src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{item.id}}/{{item.profile_img_url_thump}}">
              <img *ngIf="item.profile_img_url==''" src="../../../assets/defaultProfile.png">
            </ion-avatar>

            <div style="width: 80%;">
              <ion-label>{{item.sender_name}}</ion-label>
              <ion-button (click)="acceptFrndReq(item.id,i)" class="acceptRequest">{{acceptString}}
              </ion-button>
              <ion-button (click)="deleteFrndReq(item.id,i)" class="deleteRequest">{{deleteString}}</ion-button>
            </div>
            <div style="width: 20%;"><span class="topright">{{getTimeFromNow(item.created)}}</span></div>
          </ion-item>

          <ion-item-options side="start" (ionSwipe)="acceptFrndReq(item.id,i)" style="background-color: #3880ff;">
            <ion-item-option>
              <ion-icon slot="icon-only" (click)="acceptFrndReq(item.id,i)" name="checkmark-circle">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end" (ionSwipe)="deleteFrndReq(item.id,i)" style="background-color: #eb445a;">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" (click)="deleteFrndReq(item.id,i)" name="close-circle">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <!-- Team Request -->
  <ion-card *ngIf="teamReqList.length>0" class="cardMaxHeight">
    <ion-card-header>
      <div class="frndReqBorderBtm">{{teamReqString}} ({{teamRequests.length}})</div>
    </ion-card-header>
    <ion-card-content>
      <div class="search_bar">
        <ion-searchbar class="search_bar ion-no-padding" color="light" [(ngModel)]="searchTeamTerm" mode="ios"
          (ionChange)="searchTeamReq(searchTeamTerm)" placeholder="{{searchString}}" showCancelButton="never"
          style="width:100%;">
        </ion-searchbar>
      </div>

      <div *ngIf="teamRequests.length==0">
        <h6 style="text-align: center;">{{noTeamReqString}}</h6>
      </div>

      <ion-list>
        <ion-item-sliding *ngFor="let item of teamRequests; let i = index;" class="reqListMargin">
          <ion-item lines="none" style="align-items: start; border-radius: 11px;">
            <ion-avatar class="frnd_avatar" slot="start" (click)="friendDetail(item.id)"
              style="width: 15%; height: 68%;">
              <img src="../../../assets/defaultProfile.png">
            </ion-avatar>
            <div style="width: 80%;">
              <ion-label>{{item.team_name}}</ion-label>
              <ion-button (click)="acceptTeamReq(item, i)" class="acceptRequest">{{acceptString}}</ion-button>
              <ion-button (click)="deleteTeamReq(item, i)" class="deleteRequest">{{deleteString}}</ion-button>
            </div>
            <div style="width: 20%;"><span class="topright">{{item.created | date: 'shortTime'}}</span></div>
          </ion-item>

          <ion-item-options side="start" (ionSwipe)="acceptTeamReq(item, i)" style="background-color: #3880ff;">
            <ion-item-option>
              <ion-icon slot="icon-only" (click)="acceptTeamReq(item, i)" name="checkmark-circle">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end" (ionSwipe)="deleteTeamReq(item, i)" style="background-color: #eb445a;">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" (click)="deleteTeamReq(item, i)" name="close-circle">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>


        </ion-item-sliding>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <!-- Group chat Request -->
  <ion-card *ngIf="groupReqList.length>0" class="cardMaxHeight">
    <ion-card-header>
      <div class="frndReqBorderBtm">{{groupChatReqString}} ({{groupChatRequests.length}})</div>
    </ion-card-header>
    <ion-card-content>
      <div class="search_bar">
        <ion-searchbar class="search_bar ion-no-padding" color="light" [(ngModel)]="searchGrpChatTerm" mode="ios"
          (ionChange)="searchGrpReq(searchGrpChatTerm)" placeholder="{{searchString}}" showCancelButton="never"
          style="width:100%;">
        </ion-searchbar>
      </div>

      <div *ngIf="groupChatRequests.length==0">
        <h6 style="text-align: center;">{{noGrpReqString}}</h6>
      </div>

      <ion-list>
        <ion-item-sliding *ngFor="let item of groupChatRequests; let i = index;" class="reqListMargin">
          <ion-item lines="none" style="align-items: start; border-radius: 11px;">
            <ion-avatar class="frnd_avatar" slot="start" (click)="friendDetail(item.id)"
              style="width: 15%; height: 68%;">
              <img src="../../../assets/defaultProfile.png">
            </ion-avatar>
            <div style="width: 80%;">
              <ion-label>{{item.group_name}}</ion-label>
              <ion-button (click)="acceptGrpReq(item.teamid,item.group_master, i)" class="acceptRequest">
                {{acceptString}}
              </ion-button>
              <ion-button (click)="deleteGrpReq(item.teamid,item.group_master, i)" class="deleteRequest">
                {{deleteString}}
              </ion-button>
            </div>
            <div style="width: 20%;"><span class="topright">{{getTimeFromNow(item.created)}}</span></div>
          </ion-item>

          <ion-item-options side="end" (ionSwipe)="acceptGrpReq(item.teamid,item.group_master, i)"
            style="background-color: #3880ff;">
            <ion-item-option>
              <ion-icon slot="icon-only" (click)="acceptGrpReq(item.teamid,item.group_master, i)"
                name="checkmark-circle">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="start" (ionSwipe)="deleteGrpReq(item.teamid,item.group_master, i)"
            style="background-color: #eb445a;">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" (click)="deleteGrpReq(item.teamid,item.group_master, i)" name="close-circle">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>