.noReq {
  font-size: x-large;
}
.frndReqBorderBtm{
  border-bottom: 0.5px solid #F79120;
}
.acceptRequest{
  --background: #112 !important;
  padding-right: 3%;
}
.deleteRequest{
  color : black;
  --background : #dadce4;
}
.topright {
  position: absolute;
  top: 10%;
  right: 6px;
  font-size: 67%;
}
.two{
display: flex;
  color: red;
}
.cardMaxHeight{
  max-height: 38.3%;
  overflow: auto;
}
.reqListMargin{
  margin-top: 3%;
}