
.pageContent {
    margin: 4% 7%;
    color: #fff !important;
    --color: #fff !important;
  }
  
  .logo {
    margin: 15%;
  
    img {
        max-width: 100%;
        height   : auto;
    }
  }
  
  ion-row {
    align-items: center;
    width      : 100%;
    color      : #fff;
  
  }
  
  ion-col {
    align-items: center;
    text-align : center;
  }
  
  .uderline {
    display: flex;
    border-bottom-width: 0.1px;
    border-bottom-style: groove;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  ion-label {
    --color: #fff !important;
    color  : #fff !important;
  }
  .login-button{
    width: 85% ;
    --border-radius: 24px;
    margin-top: 5%;
       
  }
  ion-input{
    --color: #fff !important;
    color  : #fff !important;
  }

  .login-input {
    --background: transparent !important;
    top         : calc(100% - 80%);
    position    : relative;

    .cus-row {
        border-bottom: 0.1px solid whitesmoke;
        align-items  : center;

        ion-label {
            font-size: 14px;
        }
    }

    .btn-pswrd {
        position    : absolute;
        right       : 10px;
        --background: transparent !important;
        color       : #ffffff;
        bottom      : 10px;
    }

    .btn-forget {
        right     : 20px;
        position  : relative;
        font-size : 14px;
        color     : #898a9f;
        margin-top: 1rem;
    }

    .btn-login {
        width                 : 100%;
        height                : 50px;
        --border-radius       : 24px;
        font-size             : 18px;
        --background          : #f79120;
        color                 : #ffffff;
        --background-activated: #f79120;
    }

    input[type="text"] {
        font-size: 14px;
    }

    input[type="password"] {
        font-size: 14px;
    }
}
