<ion-content class="tribationBackground">
  <div class="pageContent">
    <div class="logo">
      <img src="../../../assets/logo2.png" alt="Tribation">
    </div>

    <div class="login-input" id="loginInput">
      <form [formGroup]="log">
        <ion-list class="noBackgroundItem">
          <!-- Username Field -->
          <ion-row class="uderline">
            <ion-col size="2">
              <ion-icon name="person" style="font-size  : x-large;margin-top: 10%;"></ion-icon>
            </ion-col>
            <ion-col size="10" style="text-align: unset;">
              <ion-item lines="none" class="noBackgroundItem ion-no-padding">
                <ion-label position="floating">{{emaiL}}</ion-label>
                <ion-input type="text" [(ngModel)]="username" (keyup.enter)="moveFocus(b)" formControlName="username"
                  clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Password Field --->
          <ion-row class="uderline">
            <ion-col size="2">
              <ion-icon name="lock-closed" style="font-size  : x-large;margin-top: 10%;"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item lines="none" class="noBackgroundItem ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="10" style="text-align: unset;" class="ion-no-padding">
                    <ion-label style="color:#fff;" position="floating">{{passworD}}</ion-label>
                    <ion-input formControlName="password" #b (keyup.enter)="rootpage()" (click)="emailCheck()"
                      [type]="passwordType" [(ngModel)]="pswrd" clearOnEdit="false"></ion-input>
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon button [name]="passwordIcon" style="font-size:x-large;padding-top:35%;"
                      (click)='hideShowPassword()'></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-list>

        <div button (click)="resetPass()" style="float: right;margin-top: 5%;" 
          >{{forgotPassString}}?</div>
        <!-- Login Button -->
        <div style="clear: both;width:100%;float: left;display: flex;justify-content: center;">
          <ion-button #c class="login-button tribationBtn" [disabled]="log.invalid" (click)="rootpage()" style="    height: 50px;
          font-size: 18px;">
            {{signInString}}
          </ion-button>
        </div>
  
      </form>
     
      <div style="clear: both;text-align: center;padding-top: 10%;">
        <div style="color: #aaa;"> {{dontHaveAccString}}</div>
        <div style="margin-top: 5%;color: #fff !important;" button (click)="signup()">{{signUpString}}</div>
      </div>
    </div>

  </div>
</ion-content>