<ion-header>
  <ion-toolbar>
    <ion-row style="display: flex;align-items: center;text-align: center;">
      <ion-col size="2">
        <ion-icon button name="arrow-back" class="white fnt-18" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-activatable namePersonChatWith" button (click)="friendDetail(chatUserId)">
        <ion-avatar style="width: 4rem;height: 4rem; margin-right: 4%;">
          <img *ngIf="picUrl"
            src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{chatUserId}}/{{picUrl}}">
          <img *ngIf="!picUrl" src="../../../assets/defaultProfile.png">
        </ion-avatar>
        <span>{{(profilename | slice:0:20)+(profilename.length>20? "...":"")}}</span>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </ion-col>
      <ion-col size="2">
        <ion-icon *ngIf="volumeOff==true" class="white fnt-18 pos-r-6" name="volume-off" (click)="volumeControl('1')">
        </ion-icon>
        <ion-icon *ngIf="volumeOn==true" class="white fnt-18 pos-r-6" name="volume-high" (click)="volumeControl('2')">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true">

  <div class="chatting-container" *ngIf="noData==false">
    <ion-row *ngFor="let chat of chatArray;let i=index;  ">

      <ion-col size="12" class="ion-text-center" *ngIf="chat.date!=''">
        <p style="color:#000;">{{chat.date}} </p>
      </ion-col>

      <ion-col size="12">
        <div class="container-fluid" *ngFor="let message of chat.message; let i=index; ">
          <!-- Received Messages Container -->
          <div class="received" style="display: block !important;" *ngIf="message.calltype=='in'">
            <ion-row>

              <!-- Message type == text-->
              <ion-card class="mrg-5 received-card rec-msg-cont" *ngIf="message.content!='' && message.type=='txt'">
                <ion-row *ngIf="message.userinfo.to_id===this.usersdetail.id">
                  <p class="rcvedtext-msg selectable">{{message.content}}</p>
                  <ion-input *ngIf="message.recent" #myStyle style="width:0px;height:0px;z-index: -999;"></ion-input>
                  <ion-text class="rcved-msg-time"> {{message.date | date :'shortTime'}}</ion-text>
                </ion-row>
              </ion-card>

              <!-- Message type == media-->
              <ion-card class="mrg-5 received-card rec-msg-cont" *ngIf="message.media_url!='' && message.type=='media'">
                <ion-row *ngIf="message.userinfo.to_id===this.usersdetail.id">
                  <p class="rcvedtext-msg selectable">{{ message.content }} </p>
                  <ion-input *ngIf="message.recent" #myStyle style="width:0px;height:0px;z-index: -999;"></ion-input>
                  <ion-img (error)="handleImgError($event)" *ngIf="message.media_url!=''"
                    (click)="viewImage(message.media_url,'','')" class="msg_img loading_img"
                    src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media_url}}">
                  </ion-img>
                  <ion-text class="rcved-msg-time"> {{message.date | date :'shortTime'}}</ion-text>
                </ion-row>
              </ion-card>

            </ion-row>
          </div>
          <!-- Ends Received Messages Container -->

          <!-- Sent Messages Container -->
          <div class="sent-by-me-direct-chat" style="display: block !important;" *ngIf="message.calltype=='out' ">
            <ion-row>

              <!-- Multiline line msg style class custom-b-r-lft-->
              <ion-card class="sent-by-me-card  b-r-o" *ngIf="message.content!='' && message.type=='txt'">
                <ion-row *ngIf="message.userinfo.from_id===this.usersdetail.id">
                  <p class="mytext-msg selectable">{{message.content}}</p>
                  <ion-input *ngIf="message.recent" #myStyle style="width:0px;height:0px;z-index: -999;"></ion-input>
                  <ion-text class="chat_time_me"> {{message.date | date :'shortTime'}} </ion-text>
                  <img (error)="handleImgError($event)" *ngIf="message.media_url!=''"
                    (click)="viewImage(message.media_url,'','')" class="msg_img loading_img"
                    src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media_url}}">
                </ion-row>
              </ion-card>

              <ion-card class="sent-by-me-card  b-r-o" *ngIf="message.media_url!='' && message.type=='media'">
                <ion-row *ngIf="message.userinfo.from_id===this.usersdetail.id">
                  <p class="mytext-msg selectable"> {{message.content}}</p>
                  <ion-input *ngIf="message.recent" #myStyle style="width:0px;height:0px;z-index: -999;"></ion-input>
                  <ion-img (error)="handleImgError($event)" class="msg_img loading_img"
                    (click)="viewImage(message.media_url,'','')" *ngIf="message.media_url!=''"
                    src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media_url}}">
                  </ion-img>
                  <p class="time-sent-img"> {{message.date | date :'shortTime'}} </p>
                </ion-row>
              </ion-card>

            </ion-row>
          </div>
          <!-- Ends Sent Messages Container -->

        </div>
      </ion-col>

    </ion-row><br>
  </div>
  <div *ngIf="noData==true" style="text-align: center; color: black; margin: 12%; font-weight: 700; font-size: larger;">{{noConversationsString}}</div>
</ion-content>

<ion-footer>
  
  <ion-row class="message_row">

    <div align-self: flex-start class="chat_icons avatar-upload"
      *ngIf="chatInput=='' && imagearray.length==0 && onlineMode==false" (click)="presentActionSheet()">
      <ion-icon name="camera" class="i-in-cam"></ion-icon>
      <input type="file" multiple="multiple" #uploadpost accept="image/*"
        (change)="handlefileinput($event.target.files)" id="uploadpost" class="hide inputfile">
    </div>

    <div size="1" align-self: flex-start class="chat_icons avatar-upload" *ngIf="chatInput!=''"></div>

    <ion-textarea autocapitalize="sentences" rows="1" id="messageInputBox" [disabled]="onlineMode" autocomplete="on"
      wrap="soft" autocorrect="on" spellcheck="on" #messageToSendBox class="in-pad" placeholder="{{saySomethingString}}"
      [(ngModel)]="chatInput" (ionFocus)="openKeyboard()" required></ion-textarea>

    <div align-self: flex-end style="display: flex;align-items: center;">
      <ion-icon button (click)="sendMessageFun(chatInput)" item-end *ngIf="chatInput!='' || imagearray.length!=0"
        name="send" class="i-in-send"></ion-icon>
    </div>

  </ion-row>

  <ion-row *ngIf="imagearray.length!=0">
    <ion-col size="4" *ngFor="let imagepost of imagearray;index as i" style="padding: 2px;">
      <div class="container container-img ">
        <ion-img [src]="imagepost" [ngClass]="{'chat_image_main': imagearray[i]!=''}"></ion-img>
        <div class="chattincon">
          <ion-icon class="i-icon" *ngIf="imagearray[i]!=''" class="chat_in_icon" name="close" (click)="removeimg(i)">
          </ion-icon>
        </div>
      </div>
    </ion-col>
  </ion-row>

</ion-footer>