<ion-app>
    <!--============= Sidemenu ==================-->
    <ion-menu side="start" contentId="custom" class="my-custom-menu" type="overlay"
        *ngIf="route!='' && route!='/login' && route!='/signup' && route!='/login/forget-pass' && route!= '/terms' && route!= '/intro'">
        <ion-content class="menu-content">

            <ion-menu-toggle auto-hide="false">
                <ion-row style="width: 90%;height: 7%;margin:auto;margin-top:3%;">
                    <ion-col size="10" style="align-items: center;display: flex;">
                        <ion-searchbar (click)="searchFun()" animated="true" showCancelButton="focus"
                            class="menu-search" placeholder="{{searchString}}" debounce="500" style="max-height:40px;"
                            mode="md"></ion-searchbar>
                    </ion-col>
                    <ion-col size="2" class="custom-algn-center" [routerLink]="['/settings']">
                        <ion-icon style="font-size:large;color:#fff;text-align:center;" name="settings"></ion-icon>
                    </ion-col>
                </ion-row>
                <div class="menu-img-container ion-text-center" style="margin-top:10%;" button (click)="myProfile()">
                    <img class="img-fluid"  *ngIf="profileImageURL"
                        src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{profileImageURL}}" />
                    <img class="img-fluid"  *ngIf="!this.profileImageURL"
                        src="{{profileImageURL}}" />
                    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
                        <ion-fab-button size="small" (click)="sahreInvite()" matTooltipPosition="above"
                            matTooltip="{{shareString}}" style=" --background: transparent;background: transparent">
                            <ion-icon name="share-social"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                    <p style="margin: unset;margin-top: 1%;font-size: large; color: #fff;">
                        {{profileFirstname}} {{profileLastName}}</p>
                </div>
            </ion-menu-toggle>

            <ion-menu-toggle auto-hide="false">
                <ion-list mode="md">

                    <ion-item mode="md" lines="none"
                        style="--min-height:unset;padding: 2% 0%; --color-activated:#fff; margin-top:5%;"
                        [routerLink]="['/timeline']" routerLinkActive="active-link" detail="false">
                        <ion-icon name="home"></ion-icon>{{timelineString}}
                        <ion-badge class="badge1" *ngIf="postCount!=0" slot="end">{{postCount}}</ion-badge>
                    </ion-item>

                    <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
                        button (click)="myProfile()" routerLinkActive="active-link">
                        <ion-icon name="person"></ion-icon>
                        {{myprofileString}}
                        <!-- <ion-badge class="badge2" slot="end">5</ion-badge> -->
                    </ion-item>
                    <!--  <ion-item *ngIf="!team" class="skeleton">
                    <ion-skeleton-text animated style="width: 100%;height: 20px;"></ion-skeleton-text>
                </ion-item> -->

                    <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
                        [routerLink]="['/teams']" routerLinkActive="active-link">
                        <ion-icon name="people-circle"></ion-icon>{{teamString}}
                    </ion-item>
                    <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
                        [routerLink]="['/guardian']" routerLinkActive="active-link">
                        <ion-icon name="person-add"></ion-icon>{{guardianString}}
                    </ion-item>
                    <!-- <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;" 
              [routerLink]="['/guardian-tool']" routerLinkActive="active-link" 
              (click)="guardiantool()" *ngIf="guardianlist.length>0 && guardianagee>=18">
                  <ion-icon name="contacts" ios="ios-contacts" md="ios-contacts" mode="ios"></ion-icon>{{guardian_tool}}
              </ion-item> -->
                    <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
                        [routerLink]="['/scouts']" routerLinkActive="active-link">
                        <ion-icon name="megaphone"></ion-icon>{{scoutsToolString}}
                    </ion-item>
                    <!-- <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
              [routerLink]="['/scoutstatus']" routerLinkActive="active-link" (click)="scoutstatus()" *ngIf="this.scout_statuss">
                  <ion-icon name="megaphone" ios="md-megaphone" md="md-megaphone" mode="md"></ion-icon>{{ScoutStatus}}
              </ion-item> -->

                    <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
                        [routerLink]="['/events']" routerLinkActive="active-link" detail="false">
                        <ion-icon name="calendar" mode="md"></ion-icon>{{eventsString}}
                    </ion-item>

                    <ion-item mode="md" lines="none" style="--min-height:unset;padding: 2% 0%; --color-activated:#fff;"
                        [routerLink]="['/settings/help-center']" routerLinkActive="active-link" detail="false">
                        <ion-icon name="call"></ion-icon>{{helpcenterString}}
                    </ion-item>
                </ion-list>
            </ion-menu-toggle>
        </ion-content>
        <ion-footer style="bottom: 0;">
            <ion-button (click)="logout()" class="white ion-text-capitalize borderNoColor" expand="full">
                {{logoutString}} &nbsp;&nbsp;
                <ion-icon class="white" style="font-size:large;margin-left: 1.5%;" name="log-out" mode="md"></ion-icon>
            </ion-button>
            <br>
        </ion-footer>
    </ion-menu>
    <!-- ENDS SIDEMENU -->

    <ion-router-outlet id="custom" main></ion-router-outlet>

    <!--===========Bottom TABS=============-->
    <div class="common-tab">
        <ion-tabs>
            <ion-tab-bar slot="bottom" *ngIf="
         currentLocation=='/timeline' ||
         currentLocation=='/settings' ||
         currentLocation=='/notification' ||
         currentLocation=='/friends-list' ||
         currentLocation=='/chat' ||
         currentLocation=='/requests' ||
         currentLocation=='/teams' ||
         currentLocation=='/view-profile' ||
         currentLocation=='/profile' ||
         currentLocation=='/scouts' ||
         currentLocation=='/guardian' ||
         currentLocation=='/events'
          ">
                <ion-tab-button [routerLink]="['/timeline']" routerLinkActive="active-link-icon">
                    <ion-icon name="home"></ion-icon>
                    <ion-badge class="tab-badge" *ngIf="postCount!=0">{{postCount}}</ion-badge>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/friends-list']" routerLinkActive="active-link-icon">
                    <ion-icon name="people"></ion-icon>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/requests']" routerLinkActive="active-link-icon">
                    <ion-icon name="person-add"></ion-icon>
                    <ion-badge *ngIf="this.friendreqCount!=''" class="tab-badge">{{this.friendreqCount}}</ion-badge>
                </ion-tab-button>

                <ion-tab-button [routerLink]="['/chat']" routerLinkActive="active-link-icon">
                    <ion-icon name="chatbox-ellipses"></ion-icon>
                    <!-- <ion-badge *ngIf="this.unreadMessage.length != 0" class="tab-badge">{{this.unreadMessage.length}}</ion-badge> -->
                    <ion-badge *ngIf="this.sum!= 0" class="tab-badge">{{this.sum}}</ion-badge>

                </ion-tab-button>

                <ion-tab-button [routerLink]="['/notification']" routerLinkActive="active-link-icon">
                    <ion-icon name="notifications"></ion-icon>
                    <ion-badge class="tab-badge" *ngIf="notifi_count!=0 ">{{notifi_count}}</ion-badge>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </div>

    <p id="logout" button [routerLink]="['']" routerDirection="root"></p>
    <!--===========ENDS Bottom TABS=============-->
</ion-app>