.camerOnId {
    padding      : 3%;
    margin       : 0px;
    background   : #ccc;
    border-radius: 35px;
}

.idCard {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 3%;
    background: #00000030;
    height: 90%;
    margin: auto;
    color: #f79120;
    font-size: xxx-large;
    border-radius: 7%;
}

.idCardImg {
    background   : #ccccccb0;
    border       : 2px #1f1b1bb0 groove;
    border-radius: 5px;

}
.save-button{
    width: 85% ;
    --border-radius: 24px;
    margin-top: 5%;
       
  }