.img40 {
    width: 40px !important;
}

.img51 {
    width: 35px !important;
}

a {
    text-decoration: none !important;
    color          : #181334 !important;
}

ion-card-header {
    --background   : white;
    z-index        : 9999;
    background-size: cover;
    color          : black;
    padding        : 5px;
}