<ion-header [translucent]="true">
  <ion-toolbar mode="md">
     <ion-icon slot="start" name="arrow-back" class="white fnt-18" (click)="back()"></ion-icon>
    <ion-title mode="md" class="ion-align-self-center">{{helpcenterString}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--=========== Header Ends ============-->

<ion-content class="heplcenter-container slideInleft">
<!-- <div text-center>  
  <img style="width:60%" src="../../assets/help.png" alt="">
</div> -->

  <ion-card class="mrg-10 " *ngFor="let contact of contactinfo">
    <ion-card-header>
<ion-row>
    <ion-col size="2" style="margin:auto">
      <img class="img40" src="../../assets/{{contact.image}}">
    </ion-col>
    <ion-col size="8">
      <h6>{{contact.headingLanguage}}</h6>
      <p>
        <a href="mailto:business@tribation.com" target="_top">{{contact.content}}</a>
      </p>
      </ion-col>
      <ion-col size="2" style="margin:auto">
          <a href="mailto:business@tribation.com" style="color: darkgray !important" target="_top">
            <img class="img51" src="../../assets/{{contact.image1}}" />
          </a>
      </ion-col>
   </ion-row>
    </ion-card-header>
    <!-- <ion-card-content style="padding-top: 15px;">
      <p><a href="mailto:business@tribation.com" target="_top">{{contact.content}}</a></p>
    </ion-card-content> -->
  </ion-card>
</ion-content>
