
<ion-header mode="md">
  <ion-toolbar mode="md"
    style="--background:#f79120aa !important;background:#f79120aa !important;color: #000 !important;">
    <ion-icon slot="start" name="arrow-back" class="fnt-18" style="font-weight: bolder;" button (click)="back()">
    </ion-icon>

    <ion-col size="12" class="ion-activatable namePersonChatWith"  style="float:left;margin-left: 8px;" button (click)="groupDetail()">
      <div>
        <div slot="start" style="float:left;" *ngIf="groupDetails.type==1">
          <ion-avatar slot="start" style="width: 50px;height: 50px;margin-right: 10px; ">
            <img *ngIf="teamPic!=''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=team/{{groupDetails.id}}/{{teamPic}}"
              style="border-radius: 15%;">
            <img *ngIf="teamPic==''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/cover1.jpg"
              style="border-radius: 15%;">
          </ion-avatar>
        </div>

        <div slot="start" style="float:left;" *ngIf="groupDetails.type==2">
          <ion-avatar slot="start" *ngIf="groupDetails.type==2" style="width: 50px;height: 50px;margin-right: 10px;">
            <img *ngIf="noGroupPic==false "
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=groupchat/{{groupDetails.id}}/{{teamPic}}"
              style="border-radius: 15%;">
            <img *ngIf="noGroupPic==true"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/cover1.jpg"
              style="border-radius: 15%;">
          </ion-avatar>
        </div>

        <div slot="start" style="float:left;">
          <div style="font-size: large;font-weight: bolder; text-align-last: start;"> {{(teamName | slice:0:20)+(teamName.length > 20 ? "...":"") }}</div>
          <div style="font-size: small; text-align-last: start;">
            {{(groupMembString | slice:0:40)+(groupMembString.length > 40 ? "...":"") }}
          </div>
        </div>
      </div>
    </ion-col>

      <!-- <ion-icon slot="end" *ngIf="volumeOff==true" class="white fnt-18 pos-r-6" name="volume-off"
        (click)="volumeControl('1')"></ion-icon>
      <ion-icon slot="end" *ngIf="volumeOn==true" class="white fnt-18 pos-r-6" name="volume-high"
        (click)="volumeControl('2')"></ion-icon> -->

  </ion-toolbar>
</ion-header>

<ion-content #content (ionScroll)="logScrolling($event)" [scrollEvents]="true"
  style="--background:#fff !important; overflow: hidden;" mode="ios">

  <!-- <ion-infinite-scroll (ionInfinite)="loadMoreMessage($event,allpost)" position="top">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <div class="chatting-container">
    <!-- <ion-refresher slot="fixed"  pullFactor=0.2 (ionStart)="loadMoreMessage($event,allpost)"  mode="ios"> 
      <ion-refresher-content pullingIcon="arrow-dropdown" pullFactor=0.2 refreshingSpinner="circles"  mode="ios">
      </ion-refresher-content>
    </ion-refresher> -->

    <div *ngIf="noChat==true" style="display: flex;justify-content: center;width: 100%;margin-top: 32px;"
      class="topMessageAcounce">
      <p class="p_head"><span style="margin: 14px;">{{groupCreated}}</span></p>
    </div>
    <div class="container-fluid" *ngFor="let chats of groupArrays; let i=index; " style="margin-top:15px;">
      <div style="display: flex;justify-content: center;width: 100%;" class="topMessageAcounce">

        <p class="p_head"> <span style="margin: 14px;">{{chats.date1}}</span></p>


      </div>
      <div *ngFor="let message of chats.message ;let i=index">

        <div style="display: flex;justify-content: center;width: 100%;" class="topMessageAcounce"
          *ngIf="message.msg_type==2 || message.msg_type==3 || message.msg_type==5">
          <p class="p_head"><span style="margin: 14px;" class="selectable">{{message.content}}</span></p>
        </div>

        <div class="received" style="display: block !important;" *ngIf="message.fromid !=userDetail.id ">

          <!-- received Msg -->
          <ion-card class="mrg-5 received-card custom-b-r-lft"
            *ngIf="(message.content!='' && message.msg_type==0 && (i > 0) && (message.fromid != chats.message[i-1].fromid)) || (message.media!='' && message.msg_type==1 && (i > 0) && (message.fromid != chats.message[i-1].fromid)) ">
            <!-- Apply Style For Colour names Here -->
            <ion-card-header class="chat_header" [ngStyle]="{'color' : message.color}">
              {{message.first_name}}
              <ion-text class="chat_time"> {{message.time}} </ion-text>
            </ion-card-header>

            <ion-card-content class="chat_content">
              <p class="received-msg selectable">{{message.content}}</p>
              <img (error)="handleImgError($event, i)" class="msg_img loading_img"
                (click)="viewImage(message.media,'','')" *ngIf="!message.media==''"
                src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media}}">
            </ion-card-content>

          </ion-card>
          <ion-card class="mrg-5 received-card custom-b-r-lft"
            *ngIf="(message.content!='' && message.msg_type==0 && (i > 0) && (message.fromid == chats.message[i-1].fromid)&& (chats.message[i-1].msg_type== 3)) || (message.media!='' && message.msg_type==1 && (i > 0) && (message.fromid == chats.message[i-1].fromid)&& (chats.message[i-1].msg_type== 3)) ">
            <!-- Apply Style For Colour names Here -->
            <ion-card-header class="chat_header" [ngStyle]="{'color' : message.color}">
              {{message.first_name}}
              <ion-text class="chat_time"> {{message.time}} </ion-text>
            </ion-card-header>

            <ion-card-content class="chat_content">
              <p class="received-msg selectable">{{message.content}}</p>
              <img (error)="handleImgError($event, i)" class="msg_img loading_img"
                (click)="viewImage(message.media,'','')" *ngIf="!message.media==''"
                src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media}}">
            </ion-card-content>

          </ion-card>
          <ion-card class="mrg-5 received-card custom-b-r-lft"
            *ngIf="(message.content!='' && message.msg_type==0 && (i==0) && (message.fromid == chats.message[0].fromid)) || (message.media!='' && message.msg_type==1 && (i==0) && (message.fromid == chats.message[0].fromid))">
            <ion-card-header class="chat_header" [ngStyle]="{'color' : message.color}">
              {{message.first_name}}
              <ion-text class="chat_time"> {{message.time}} </ion-text>
            </ion-card-header>

            <ion-card-content class="chat_content">
              <p class="received-msg selectable">{{message.content}}</p>
              <img (error)="handleImgError($event, i)" class="msg_img loading_img"
                (click)="viewImage(message.media,'','')" *ngIf="!message.media==''"
                src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media}}">
            </ion-card-content>

          </ion-card>
          <ion-card class="mrg-5 received-card b-r-o" style="padding: 10px"
            *ngIf="(message.content!='' && message.msg_type==0 && message.content?.length <= 20 && (i > 0) && (message.fromid == chats.message[i-1].fromid) && (chats.message[i-1].msg_type!= 3)) || (message.media!='' && message.msg_type==1 && message.content?.length <= 20 && (i > 0) && (message.fromid == chats.message[i-1].fromid)&& (chats.message[i-1].msg_type!= 3)) ">

            <p class="rec-msg-cont selectable">{{message.content}}</p>
            <img (error)="handleImgError($event, i)" class="msg_img loading_img"
              (click)="viewImage(message.media,'','')" *ngIf="!message.media==''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media}}">

            <p class="chat_time1"> {{message.time}} </p>
          </ion-card>
          <ion-card class="mrg-5 received-card custom-b-r-lft" style="padding: 10px"
            *ngIf="(message.content!='' && message.msg_type==0 && message.content?.length > 20  && (i > 0) && (message.fromid == chats.message[i-1].fromid)&& (chats.message[i-1].msg_type!= 3)) || (message.media!='' && message.msg_type==1 && message.content?.length > 20  && (i > 0) && (message.fromid == chats.message[i-1].fromid)&& (chats.message[i-1].msg_type!= 3)) ">

            <p class="rec-msg-cont1 selectable">{{message.content}}</p>
            <img (error)="handleImgError($event, i)" class="msg_img loading_img"
              (click)="viewImage(message.media,'','')" *ngIf="!message.media==''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media}}">
            <p class="chat_time2"> {{message.time}} </p>
          </ion-card>



        </div>
        <!-- Ends My Message Container -->
        <br>
        <!-- Sent Messages Container -->
        <div class="sent-by-me" style="display: block !important;" *ngIf="message.fromid ==userDetail.id ">
          <!-- Received Time -->

          <!-- One line msg style class b-r-o-->
          <ion-card class="sent-by-me-card b-r-o"
            *ngIf="message.content!='' && message.msg_type==0 && message.content?.length <= 20">
            <ion-row>
              <p class="mytext-msg selectable"> {{message.content}}</p>
              <ion-text class="chat_time_me"> {{message.time}}</ion-text>
            </ion-row>
          </ion-card>

          <!-- Multiline line msg style class custom-b-r-lft-->
          <ion-card class="sent-by-me-card custom-b-r-rght"
            *ngIf="message.content!='' && message.msg_type==0 && message.content?.length > 20">
            <div>
              <p class="mytext-msg selectable"> {{message.content}}</p>
              <ion-text class="time-sent"> {{message.time}} </ion-text>
            </div>
          </ion-card>

          <ion-card class="sent-by-me-card custom-b-r-rght" *ngIf="message.media!='' && message.msg_type==1">
            <p class="mytext-msg selectable"> {{message.content}}</p>
            <img (error)="handleImgError($event, i)" class="msg_img loading_img"
              (click)="viewImage(message.media,'','')" *ngIf="!message.media==''"
              src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{message.media}}">
            <p class="time-sent-img"> {{message.time}}</p>
          </ion-card>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="scrollToBottomOnInit()" button
    *ngIf="showButton==true">
    <ion-fab-button size="small" class="tribationBtn">
      <ion-icon name="chevron-down"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer style="z-index: 999;background: #fff;--background: #fff;">
  <ion-row class="message_row" *ngIf="onlineMode==true">
    <div align-self: flex-start class="chat_icons avatar-upload" *ngIf="chatInput==''  && imagearray.length==0"
      (click)="presentActionSheet()">
      <ion-icon name="camera" class="i-in-cam"></ion-icon>

    </div>
    <input type="file" multiple="multiple" #uploadpost accept="image/*" (click)="onClick($event)"
      (change)="handlefileinput($event.target.files)" id="uploadpost" class="hide inputfile">
    <div size="1" align-self: flex-start class="chat_icons avatar-upload" *ngIf="chatInput!=''"></div>
    <!-- <div size="9" (click)="scroll()"> -->
    <ion-textarea autocapitalize="sentences" rows="1" id="messageInputBox" autocomplete="on" wrap="soft"
      autocorrect="on" spellcheck="on" #messageToSendBox class="in-pad" placeholder="{{saySomethingString}}"
      [(ngModel)]="chatInput" required>
    </ion-textarea>
    <!-- </div> -->

    <div align-self: flex-end style="display: flex;align-items: center;">

      <ion-icon button (click)="sendMessageFun(chatInput)" *ngIf="!chatInput=='' || !imageurls[0]==''" name="send"
        class="i-in-send"></ion-icon>
    </div>
  </ion-row>
</ion-footer>
<div style="margin-left: 20px;">

  <ion-row>
    <ion-col size="4" *ngFor="let imagepost of this.imagearray;index as i">
      <div class="ion-text-justify container container-img" *ngIf="imagepost.status==0">
        <ion-icon *ngIf="imagearray[i]!=''" class="chat_cancel_icon" name="close" (click)="cancelUpload(i)"></ion-icon>
        <app-progress value="{{imagepost.percentage}}"> </app-progress>

      </div>
      <div class="container container-img " *ngIf="imagepost.status==1">

        <img class="loading_img_upload"
          src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath={{imagepost.imageurl}}"
          style="width: 80px;height: 80px;">
        <ion-icon class="chat_remove_icon" *ngIf="imagepost.imageurl!=''" name="close" (click)="removeimg(i)">
        </ion-icon>
      </div>
    </ion-col>


  </ion-row>

</div>
