.info {
    margin: auto;

    ion-row {
        text-align     : center;
        justify-content: center;
    }
}

.prospectAvtar {

    img,
    ion-avatar {
        width : 50px;
        height: 50px;
    }
}

.row {
    clear     : both;
    width     : 100%;
    text-align: center;
}

.name {
    --color      : #000;
    color        : #000;
    font-size    : large;
    text-overflow: ellipsis;
    overflow     : hidden;
    max-width    : 95%;
    white-space  : nowrap;
}

.chat {
    right   : 2%;
    position: absolute;
    top     : 5%;
}

.partitionPipe {
    height        : 100%;
    display       : flex;
    align-items   : center;
    float         : left;
    padding-left  : 5%;
    // border-left: solid 1px;
    border-left   : 3px double;
}

.sports {
    position: absolute;
    right   : 2%;
}

.customScroll {
    flex-wrap      : nowrap;
    overflow-x     : auto;
    display        : flex;
    align-items    : center;
    padding        : 2% 2% 2% 2%;
    border-bottom  : 0.1px groove;
}


.bottom {
    background: #000;
    position  : fixed;
    bottom    : 10%;
    z-index   : 999;
    width     : 100%;
    height    : 5%;
}

.filterButton {
    float         : left;
    padding       : 0px;
    margin        : 0px;
    text-transform: capitalize;
    font-size     : smaller;
    margin-right  : 4%;
}

.iconFilter {
    float       : right;
    padding-left: 3px;
    font-size   : large !important;
}