.tribationBtn{
    width: 95% !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 50px !important;
    --border-radius: 24px !important;
    font-size: 18px !important;
}