<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-icon slot="start" name="close" class="white fnt-18" (click)="back()"></ion-icon>
    <ion-title mode="md" class="ion-align-self-center">{{filterToolsString}}</ion-title>
  </ion-toolbar>
</ion-header>
<!--=========== Header Ends ============-->
<ion-content>
  <ion-card style="padding: 2% 0;margin-bottom:20%;">
    <!-- Gender card -->
    <ion-item lines="none" class="diffItem">
      <ion-list style="width: 100%;">
        <ion-radio-group mode='ios' class="ion-no-padding ion-no-margin" [(ngModel)]="gender">
          <ion-label class="title">{{genderString}} &nbsp;:</ion-label>

          <ion-item class="flex" lines="none">
            <ion-radio slot="start" value="male"></ion-radio>
            <ion-label style="width: fit-content;">{{maleString}}</ion-label>
            <ion-icon name="male" slot="start" color="primary"></ion-icon>
          </ion-item>

          <ion-item class="flex" lines="none">
            <ion-radio slot="start" value="female"></ion-radio>
            <ion-label style="width: fit-content;">{{femaleString}}</ion-label>
            <ion-icon name="female" slot="start" color="danger"></ion-icon>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>
    <!-- ends gender card -->

    <!-- Country card -->
    <ion-item lines="none" class="diffItem">
      <ion-label class="title">{{countryString}}</ion-label>
      &nbsp;:&nbsp;
      <ion-input [(ngModel)]="country" placeholder="{{selectCounrtyString}}" readonly="true"
        (ionFocus)="selectCountry()"></ion-input>

    </ion-item>
    <!-- ends country card -->

    <!-- City card -->
    <ion-item lines="none" class="diffItem">
      <ion-label class="title">{{cityString}}</ion-label>
      &nbsp;:&nbsp;
      <ion-input [(ngModel)]="city" placeholder="{{enterCityString}}"></ion-input>
    </ion-item>
    <!-- ends city card -->

    <!-- Sports Card -->
    <ion-item lines="none" class="diffItem">
      <ion-label class="title">{{sportsSting}}</ion-label>
      &nbsp;:&nbsp;
      <ion-input [(ngModel)]="sports" placeholder="{{selectSportString}}" readonly="true" (ionFocus)="selectSports()">
      </ion-input>
      &nbsp;
      <img src="../../../assets/sports/{{sportsIcon}}.png" style="height: auto;width:40px;" *ngIf="sportsIcon" />
    </ion-item>
    <!-- Ends Sports Card -->

    <!-- Position card -->
    <ion-item lines="none" class="diffItem">
      <ion-label class="title">{{positionString}}</ion-label>
      &nbsp;:&nbsp;
      <ion-input [(ngModel)]="position" placeholder="{{enterPositionString}}"></ion-input>
    </ion-item>
    <!-- ends position card -->


    <!-- Experince Card -->
    <ion-item lines="none" style="float: right;">
      <ion-col size=6>
        <ion-label class="title">{{experinceString}}&nbsp;:</ion-label>
      </ion-col>
      <ion-col size=1></ion-col>
      <ion-col size=2>
        <ion-item class="minMax">
          <ion-label position="stacked">Min</ion-label>
          <ion-input inputmode="numeric" maxlength="3" [(ngModel)]="expRange.lower" (ionChange)="changeExp(expRange)"
            (keyup.enter)="moveFocus(e)">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
      <ion-col size=2>
        <ion-item class="minMax">
          <ion-label position="stacked">Max</ion-label>
          <ion-input inputmode="numeric" maxlength="3" #e [(ngModel)]="expRange.upper" (ionChange)="changeExp(expRange)"
            (keyup.enter)="exitFocus()">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
    </ion-item>
    <ion-item class="diffItem" style="width: 100%;">
      <ion-range [(ngModel)]="expRange" min="{{minExp}}" max="{{maxExp}}" step="{{diffExp}}" snaps="true"
        dual-knobs="true" pin="true" mode='md' (ionBlur)="changeExp(expRange)" style="width: 100%;">
        <ion-label slot="start">{{minExp}}</ion-label>
        <ion-label slot="end">{{maxExp}}</ion-label>
      </ion-range>
    </ion-item>
    <!-- ends Experince card -->

    <!-- Age Card -->
    <ion-item lines="none" style="float: right;">
      <ion-col size=6>
        <ion-label class="title">{{ageString}}&nbsp;:</ion-label>
      </ion-col>
      <ion-col size=1></ion-col>
      <ion-col size=2>
        <ion-item class="minMax">
          <ion-label position="stacked">Min</ion-label>
          <ion-input inputmode="numeric" maxlength="2" [(ngModel)]="ageRange.lower" (keyup.enter)="moveFocus(a)"
            (ionChange)="changeAge(ageRange)">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
      <ion-col size=2>
        <ion-item class="minMax">
          <ion-label position="stacked">Max</ion-label>
          <ion-input inputmode="numeric" maxlength="2" [(ngModel)]="ageRange.upper" #a (keyup.enter)="exitFocus()"
            (ionChange)="changeAge(ageRange)">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
    </ion-item>
    <ion-item class="diffItem" style="width: 100%;">
      <ion-range [(ngModel)]="ageRange" min="{{minAge}}" max="{{maxAge}}" step="{{diffAge}}" snaps="true"
        dual-knobs="true" pin="true" mode='md' (ionBlur)="changeAge(ageRange)" style="width: 100%;">
        <ion-label slot="start">{{minAge}}</ion-label>
        <ion-label slot="end">{{maxAge}}</ion-label>
      </ion-range>
    </ion-item>
    <!-- ends Age card -->


    <!-- hieght card -->
    <ion-card-header>
      <ion-label class="title">{{heightString}}</ion-label>
      &nbsp;:
      <div style="float: right; ">
        <ion-segment mode='md' [(ngModel)]="heightUnit" class="seg_style" (ionChange)="setHeightRange()">
          <ion-segment-button value="in" class="seg_btn">
            {{inchesString}}
          </ion-segment-button>
          <ion-segment-button value="cm" class="seg_btn">
            {{cmString}}
          </ion-segment-button>
          <ion-segment-button value="feet" class="seg_btn">
            {{feetString}}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-card-header>

    <ion-row style="float: right;">
      <ion-col size=1></ion-col>
      <ion-col size=4>
        <ion-item class="minMax">
          <ion-label position="stacked">Min</ion-label>
          <ion-input inputmode="numeric" maxlength="3" [(ngModel)]="heightRange.lower" (ionBlur)="heightRangeChanged()"
            (ionChange)="changeHeight(heightRange)" (keyup.enter)="moveFocus(h)"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=2></ion-col>
      <ion-col size=4>
        <ion-item class="minMax">
          <ion-label position="stacked">Max</ion-label>
          <ion-input inputmode="numeric" maxlength="3" [(ngModel)]="heightRange.upper" (ionBlur)="heightRangeChanged()"
            (ionChange)="changeHeight(heightRange)" #h (keyup.enter)="exitFocus()"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
    </ion-row>

    <ion-item lines="none" mode='md' style="width: 100%;" class="diffItem">
      <ion-range [(ngModel)]="heightRange" min="{{minHeight}}" max="{{maxHeight}}" step="{{diffHeight}}" snaps="true"
        dual-knobs="true" pin="true" mode='md' (ionBlur)="heightRangeChanged()">
        <ion-label slot="start">{{minHeight}}</ion-label>
        <ion-label slot="end">{{maxHeight}}</ion-label>
      </ion-range>
    </ion-item>

    <!-- ends hieght card -->


    <!-- weight card -->
    <ion-card-header>
      <ion-label class="title">{{weightString}}</ion-label>
      &nbsp;:
      <div style="float: right; ">
        <ion-segment mode='md' [(ngModel)]="weightUnit" class="seg_style" (ionChange)="setWeightRange()">
          <ion-segment-button value="kg" class="seg_btn">
            {{kgString}}
          </ion-segment-button>
          <ion-segment-button value="pounds" class="seg_btn">
            {{poundsString}}
          </ion-segment-button>
          <ion-segment-button value="stones" class="seg_btn">
            {{stonesString}}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-card-header>

    <ion-row style="float: right;">
      <ion-col size=2></ion-col>
      <ion-col size=3>
        <ion-item class="minMax">
          <ion-label position="stacked">Min</ion-label>
          <ion-input inputmode="numeric" maxlength="3" (ionBlur)="weightRangeChanged()" [(ngModel)]="weightRange.lower"
            (ionChange)="changeWeight(weightRange)" (keyup.enter)="moveFocus(w)"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=3></ion-col>
      <ion-col size=3>
        <ion-item class="minMax">
          <ion-label position="stacked">Max</ion-label>
          <ion-input inputmode="numeric" maxlength="3" [(ngModel)]="weightRange.upper" (ionBlur)="weightRangeChanged()"
            (ionChange)="changeWeight(weightRange)" #w (keyup.enter)="exitFocus()"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size=1></ion-col>
    </ion-row>

    <ion-item lines="none" mode='md' style="width: 100%;">
      <ion-range [(ngModel)]="weightRange" min="{{minWeight}}" max="{{maxWeight}}" step="{{diffWeight}}" snaps="true"
        dual-knobs="true" pin="true" mode='md' (ionBlur)="weightRangeChanged()">
        <ion-label slot="start">{{minWeight}}</ion-label>
        <ion-label slot="end">{{maxWeight}}</ion-label>
      </ion-range>
    </ion-item>
    <!-- <ion-fab horizontal="end" slot="fixed" button>
      <ion-fab-button class="tribationBtn" (click)="reset()">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
      <ion-fab-button class="tribationBtn" (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    <!-- ends weight card -->
  </ion-card>


</ion-content>
<div class="noBackgroundItem" style="position: fixed;bottom: 2%;width: 100%;z-index: 10;">
  <ion-button (click)="reset()" class="tribationBtn" style="float: left;margin-left:3%;">
    <ion-icon slot="icon-only" name="refresh"></ion-icon>
  </ion-button>
  <ion-button class="tribationBtn" (click)="save()" style="float: right;margin-right:3%;">
    <ion-icon slot="icon-only" name="checkmark"></ion-icon>
  </ion-button>
</div>