<ion-header [translucent]="true">
  <ion-toolbar mode="md">

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color:#fff;" menuToggle></ion-menu-button>
    </ion-buttons>
    <!-- <ion-icon slot="start" name="close" class="white fnt-18" (click)="back()"></ion-icon> -->
    <ion-title mode="md" class="ion-align-self-center">{{guardianString}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card style="margin-top: 9%;">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">{{firstNameString}}*</ion-label>
        <ion-input type="text" readonly="true" disabled="true" [(ngModel)]="userDetail.first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{lastNameString}}*</ion-label>
        <ion-input type="text" readonly="true" disabled="true" [(ngModel)]="userDetail.last_name"></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div>
              <!-- <div *ngIf="imageUrl!=''">
              <img [src]="imagearray[0]">
            </div>
            <div *ngIf="imageUrl==''" style="background: #1f1b1bb0;"> -->
              <div>
                <div class="idCardImg">
                  <img class="idcard" src="../../../assets/idcard.png" style="opacity: 0.5;">
                </div>

                <label class="idCard" (click)="takePictures()">
                  <ion-icon name="camera" class="camerOnId" style="font-size:35px;"></ion-icon>
                </label>
                <input type="file" (change)="handlefileinputIdCard($event)" #userInput multiple accept="image/*,video/*"
                  style="display:none;" />
                <!-- 
                <input type="file" accept="image/*" (change)="handlefileinputIdCard($event.target.files)"
                  id="uploadIdCard" class="hide inputfile "> -->
              </div>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <div style="align-items: center;justify-content: center;display: flex;">
    <ion-button class="save-button tribationBtn" (click)="uploadDocsGuard()" style="height: 50px;font-size: 18px;">
      {{submitString}}
    </ion-button>
  </div>
</ion-content>