/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family    : 'Noto Sans', sans-serif;
    scrollbar-width: 0px !important;
}

::-webkit-scrollbar {
    display: none;
}

ion-header {
    ion-toolbar {
        --background: #112 !important;
        background  : #112 !important;
        color       : #ffffff !important;

        ion-icon {
            margin-left: 8px !important;
        }

        .tool_title {
            font-size  : 18px;
            text-align : center;
            margin-left: -10px !important;
        }

        text-transform: capitalize;
    }
}

ion-radio {
    --color-checked: #112;
}

ion-content {
    overflow: auto;
}

ion-toggle {
    --background               : #dfdfdf;
    --background-checked       : #dfdfdf;
    --handle-background        : #999;
    --handle-background-checked: #f79120;
}

.white {
    color  : #fff !important;
    --color: #fff !important;
}

.fnt-18 {
    font-size: 1.8125em;
}

.fullWidthDisplayCenter {
    width             : 100%;
    // display        : flex;
    align-items       : center;
    align-content     : center;
    margin-left       : auto;
    margin-right      : auto;
    justify-content   : center;
}

.custom-algn-center {
    align-items    : center;
    justify-content: center;
    top            : 0;
    bottom         : 0;
    display        : flex;
}

.tribationBackground {
    background-image: url('./assets/loginbg.jpg') !important;
    --background    : rgba(0, 0, 0, 0.7) !important;
    z-index         : 9999;
    background-size : contain;
}

.noBackgroundItem {
    background      : transparent !important;
    --background    : transparent !important;
    background-color: rgba(0, 0, 0, 0);
}

.tribationBtn {
    --background          : #f79120 !important;
    color                 : #fff !important;
    --background-activated: #f79120 !important;
    --background-focused  : #f79120 !important;
    --background-hover    : #f79120 !important;
    --ripple-color        : #f79120 !important;
}

.tribationColor {
    --background-activated: #f79120 !important;
    --background-focused  : #f79120 !important;
    --background-hover    : #f79120 !important;
    --ripple-color        : #f79120 !important;
    --color               : #f79120 !important;
    color                 : #f79120 !important;
}

.mat-radio-container .mat-radio-inner-circle {
    background-color: #f79120 !important;
    font-size       : large;
}

ion-range {
    --bar-background       : #815c32 !important;
    --bar-background-active: #f79120 !important;
    --knob-background      : #f79120 !important;
    --pin-background       : #f79120 !important;
    --pin-color            : #fff !important;
}

.search_bar {
    max-height   : 40px !important;
    border-radius: 30px !important;
    padding-left : unset;
    padding-right: unset;

}

.hide {
    width   : 0.1px;
    height  : 0.1px;
    opacity : 0;
    overflow: hidden;
    position: absolute;
    z-index : -1;
}

.portfolioAddSetion {
    background      : rgba(0, 0, 0, 0.5) !important;
    --background    : rgba(0, 0, 0, 0.5) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.addSectionToProtfolio {
    width: max-content;
}

.addSectionProtfolio {
    width: 100%;

    ion-list {
        width: max-content;
    }

    .sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
        color: #5f5f5f
    }

    [aria-checked=true].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios {
        border-color: #112;
        height      : 18px;
        width       : 9px;
    }

    [aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
        color      : #112;
        font-weight: bolder;
        font-size  : larger;
        left       : -2px;
    }

    .alert-button.sc-ion-alert-ios {
        color: #112;
    }

    .alert-title.sc-ion-alert-ios {
        color          : #112;
        // background: #112;
        // --background: #112;
    }
}

// --Tab--
.common-tab {
    ion-tabs {
        .cus-plus {
            bottom       : 2px;
            position     : relative;
            min-height   : 60px !important;
            border-radius: 50% !important;
            background   : #181334 !important;

            ion-icon {
                color       : #ffffff !important;
                background  : #f79120 !important;
                --background: #f79120 !important;
                font-size   : 40px;
            }
        }

        .tab-badge {
            background: #fa2d65 !important;
            color     : #ffffff !important;
        }

        ion-tab-bar {
            --background: #eaeaea !important;
        }

        .router-link-active,
        .active-link-icon {
            color  : #f79120 !important;
            --color: #f79120 !important;
        }
    }
}

// Tab--

// --Menu
.my-custom-menu {
    ion-footer {
        background   : #121212;
        display      : flex;
        padding      : 6% 0px;
        // border-top: 1px #3f3c52 groove;

        .borderNoColor {
            --background : transparent;
            border       : 1px solid #3f3c52;
            width        : 80%;
            border-radius: 50px;
            margin       : auto;
        }
    }

    // ion-header{ion-toolbar{background-image : url('./assets/loginbg.png')!important;--background: #00000087!important;z-index: 9999;}}
    .menu-content {
        // background-image : url('./assets/loginbg.jpg') !important;
        --background        : rgb(17, 17, 34) !important;
        // --background     : rgba(0, 0, 0, 0.6) !important;
        --color-activated   : #fff;
        --color-focused     : #fff;
        --color-hover       : #fff;
        z-index             : 9999;
        background-size     : contain;
        text-transform      : capitalize;

        .sc-ion-searchbar-md-h {
            --background: var(--ion-background-color, transparent) !important;
        }

        ion-list {
            --color-activated: #fff;
            --color-focused  : #fff;
            --color-hover    : #fff;
            text-transform   : capitalize;

            // margin: 0px 8px 0px 15px!important;
            ion-icon,
            .i_menuset {
                margin-right: 12px;
            }

            .badge1 {
                border: 1px solid crimson;
                color : crimson;
            }

            .badge2 {
                border: 1px solid #00ca7d;
                color : #00ca7d;
            }
        }

        .list-ios {
            background: var(--ion-item-background, var(--ion-background-color, transparent)) !important;
        }

        .list-md {
            background: var(--ion-item-background, var(--ion-background-color, transparent)) !important;
        }

        ion-item {
            --background     : transparent !important;
            border-radius    : 3%;
            color            : #fff !important;
            --color-activated: #fff;
            --color-focused  : #fff;
            --color-hover    : #fff;
            font-size        : medium;
            width            : 95%;
            margin           : auto;
            text-transform   : capitalize;

            ion-icon {
                color         : #ffffff !important;
                font-size     : x-large;
                vertical-align: bottom;
            }

            .item-detail-icon {
                display: none !important;
            }
        }

        .menu-search {
            border       : 1px solid #3f3c52;
            border-radius: 24px;
            padding      : 5px;
            max-height   : 40px;
            color        : white;
            background   : #121212;

            .searchbar-input-container {
                .searchbar-input {
                    max-height   : 40px !important;
                    border-radius: 0 !important;
                    margin-top   : 0 !important;
                }
            }
        }

        .menu-img-container {
            img {
                width        : 100px;
                height       : 100px;
                border-radius: 100px;
                object-fit   : cover;
            }

            :focus {
                outline: none !important;
            }
        }
    }
}

// Menu--


.sharePOP .modal-wrapper {
    width : 99% !important;
    height: 60% !important;
}

.comment_of_post .modal-wrapper {
    width        : 95% !important;
    height       : 95% !important;
    border-radius: 5px;
    overflow     : auto !important;
}

.make_a_tag {
    // color        : #444 !important;
    border       : #ddd solid 0.2px;
    padding      : 1px !important;
    border-radius: 4px !important;
    width        : max-content !important;
    white-space  : pre !important;
    line-height  : 24px !important;
    font-weight  : 500 !important;
}

// carousel

.album {
    display: flex;
}

#photos {
    width               : max-content;
    object-fit          : cover !important;
    line-height         : 0;
    text-align          : center;
    margin-top          : 14px;
    -webkit-column-gap  : 0px;
    -moz-column-gap     : 0px;
    -webkit-column-count: 5;
    -moz-column-count   : 5;
    column-count        : 5;
    column-gap          : 3%;
    margin-bottom       : 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    float: left;
    object-fit   : cover;
    width        : 175px !important;
    height       : 160px;
    border-radius: 5px;
    margin-bottom: 5%;

}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count   : 4;
        -webkit-column-count: 4;
        column-count        : 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count   : 3;
        -webkit-column-count: 3;
        column-count        : 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count   : 2;
        -webkit-column-count: 2;
        column-count        : 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count   : 2;
        -webkit-column-count: 2;
        column-count        : 2;
    }
}


// ______________________________Animation________________________

.fadeInUp {
    -webkit-animation-name     : fadeInUp;
    animation-name             : fadeInUp;
    -webkit-animation-duration : 2s;
    animation-duration         : 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity          : 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform        : translate3d(0, 100%, 0);
    }

    100% {
        opacity          : 1;
        -webkit-transform: none;
        transform        : none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity          : 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform        : translate3d(0, 100%, 0);
    }

    100% {
        opacity          : 1;
        -webkit-transform: none;
        transform        : none;
    }
}

.fadeInLeft {
    -webkit-animation-name     : fadeInLeft;
    animation-name             : fadeInLeft;
    -webkit-animation-duration : 1s;
    animation-duration         : 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity          : 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform        : translate3d(-100%, 0, 0);
    }

    100% {
        opacity          : 1;
        -webkit-transform: none;
        transform        : none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity          : 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform        : translate3d(-100%, 0, 0);
    }

    100% {
        opacity          : 1;
        -webkit-transform: none;
        transform        : none;
    }
}

.slideInleft {
    -webkit-animation-name     : slideInleft !important;
    animation-name             : slideInleft !important;
    -webkit-animation-duration : .4s !important;
    animation-duration         : .4s !important;
    -webkit-animation-fill-mode: both !important;
    animation-fill-mode        : both !important;
}

@-webkit-keyframes slideInleft {
    0% {
        left   : -300px;
        opacity: 0;
    }

    100% {
        left   : 0;
        opacity: 1;
    }

}

@keyframes slideInleft {
    0% {
        left   : -300px;
        opacity: 0;
    }

    100% {
        left   : 0;
        opacity: 1;
    }
}

.slideInRight {
    -webkit-animation-name     : slideInRight;
    animation-name             : slideInRight;
    -webkit-animation-duration : .7s;
    animation-duration         : .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode        : both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform        : translateX(100%);
        visibility       : visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform        : translateX(100%);
        visibility       : visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform        : translateX(0);
    }
}





.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation        : slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform        : translateY(1000px);
        opacity          : 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform        : translateY(0);
        opacity          : 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform        : translateY(1000px);
        opacity          : 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform        : translateY(0);
        opacity          : 1;
    }
}


// chatting-container scss=================================
.chatting-container {
    .container-fluid {
        padding-right: 0px;
        padding-left : 6px;
        margin-right : auto;
        margin-left  : auto;
        word-break   : break-all;
    }

    .msg-time {
        color           : #6e6c79;
        background-color: #fffafa30;
        border-radius   : 12px;
        font-weight     : bold;
        margin-top      : 10px;
    }

    .sent-by-me {
        width: calc(100% - 20%);
        float: right;

        .sent-by-me-card {
            float           : right;
            min-width       : 25% !important;
            // width        : inherit;
            --background    : #181334 !important;
            color           : #ffffff !important;
            border-radius   : 15px 15px 0px 15px !important;
            margin          : 3px 10px 3px 0px;
            padding         : 0px;

            .mytext-msg {
                margin        : 10px;
                color         : #ffffff !important;
                font-size     : 14px;
                word-break    : break-word;
                white-space   : pre-line;
                // width      : max-content;
            }

            .mytext-msg-1 {
                margin     : 0px;
                color      : #ffffff !important;
                padding    : 12px;
                line-height: 0.5;
            }

            ion-row {
                --background: transparent !important;

                .msg-time-sent {
                    position     : absolute;
                    color        : #bfbaba !important;
                    font-size    : 10px;
                    bottom       : 0;
                    right        : 5px;
                    margin-bottom: 5%;
                }
            }

            .p {
                margin: 0 0 2px !important;
            }

            .time-sent-1 {
                font-size   : 10px !important;
                float       : right !important;
                margin-right: 10px;
            }

            .time-sent-img {
                font-size   : 10px !important;
                float       : right !important;
                margin-right: 10px;
                margin-top  : 3px;
            }
        }
    }

    .sent-by-me-direct-chat {
        float: right;

        .sent-by-me-card {
            float           : right;
            min-width       : 25% !important;
            // width        : inherit;
            --background    : #181334 !important;
            color           : #ffffff !important;
            border-radius   : 15px 15px 0px 15px !important;
            margin          : 3px 10px 3px 0px;
            padding         : 0px;

            .mytext-msg {
                margin        : 10px;
                color         : #ffffff !important;
                font-size     : 14px;
                word-break    : break-word;
                white-space   : pre-line;
                // width      : max-content;
            }

            .mytext-msg-1 {
                margin     : 0px;
                color      : #ffffff !important;
                padding    : 12px;
                line-height: 0.5;
            }

            ion-row {
                --background: transparent !important;

                .msg-time-sent {
                    position     : absolute;
                    color        : #bfbaba !important;
                    font-size    : 10px;
                    bottom       : 0;
                    right        : 5px;
                    margin-bottom: 5%;
                }
            }

            .p {
                margin: 0 0 2px !important;
            }

            .time-sent-1 {
                font-size   : 10px !important;
                float       : right !important;
                margin-right: 10px;
            }

            .time-sent-img {
                font-size   : 10px !important;
                float       : right !important;
                margin-right: 10px;
                margin-top  : 3px;
            }
        }
    }

    .received {
        width: calc(100% - 15%);
        float: left;

        .received-card {
            float        : left;
            min-width    : 25% !important;
            --background : #c6c5c7a !important;
            background   : #c6c5c7aa !important;
            color        : #000000 !important;
            border-radius: 0px 15px 15px 15px !important;
            margin       : 3px 0px 3px 10px;
            padding      : 0px;

            .received-msg {
                margin        : 10px;
                font-size     : 14px;
                // padding    : 12px;
                color         : #000000 !important;
                word-break    : break-word;
                white-space   : pre-line;
                margin-left   : 17px;
            }

            .rcved-msg-time {
                font-weight : normal !important;
                margin-top  : 16px;
                font-size   : 11px;
                margin-right: 10px;
                color       : #000000 !important;
            }

            .received-msg-1 {
                margin           : 0px;
                padding          : 12px;
                color            : #000000 !important;
                line-height      : 0.5;
                // white-space   : pre-line;
                // word-break    : break-word;
            }

            .rcvedtext-msg {
                margin        : 10px;
                color         : #000000 !important;
                font-size     : 14px;
                word-break    : break-word;
                white-space   : pre-line;
                // width      : max-content;
            }

            ion-row {
                --background: transparent !important;

                .time-rcvd-1 {
                    position     : absolute;
                    color        : #000 !important;
                    font-size    : 10px;
                    bottom       : 0;
                    left         : 5px;
                    margin-bottom: 5%;
                }
            }

            .p {
                margin: 0 0 2px !important;
            }

            .time-rcvd-1 {
                margin-top : 16px;
                font-size  : 11px !important;
                float      : left !important;
                margin-left: 10px;
                color      : black;
            }

            .time-rcvd-img {
                font-size  : 10px !important;
                float      : left !important;
                margin-left: 10px;
                color      : black;
                margin-top : 3px;
            }
        }
    }
}

.sent-by-me-card:after {
    content      : "";
    position     : absolute;
    margin-top   : -6px;
    margin-left  : -5px;
    border-left  : 12px solid transparent;
    border-right : 12px solid transparent;
    border-bottom: 12px solid #146f79;
    transform    : rotate(-45deg);
    right        : -15px;
    top          : 10px;
}