.logo {
    margin: 0% 23%;

    img {
        max-width: 100%;
        height   : auto;
    }
}

.btnContainer {
    // margin         :10px 0px 5px 0px;
    display        : flex;
    justify-content: center;
}

.shareBtn {
    color     : #fff;
    float     : left;
    text-align: center;
    margin    : 0px 10px;

    // ion-icon {
    //     font-size: xxx-large;
    // }
    img {
        width : 30px;
        height: 30px;
    }
}

.btnTxt {
    // font-size : small;
    margin-top : 5px;
    font-weight: bolder;
}