<ion-card-content style="--background: #112 !important;background: #112 !important;color:#fff;height: 100%;">
  <ion-icon button tappable (click)="close()" class="button" style="font-size: xx-large;position: absolute;left: 2%;top: 2%;" name="close"></ion-icon>
  <div class="logo">
    <img src="../../../assets/logo2.png" alt="Tribation">
  </div>
  <div class="ion-text-center" style="margin-top:5%; font-size:large;color: #f79120;text-decoration: underline;">
    Invite your Friends & Family over Tribation
  </div>
  <div style="bottom: 0;font-size: small;margin:10% 0px;">
    <div style="margin-bottom:12px;font-weight: bolder;text-decoration: underline;">
      <p style="text-align: center;"> Share Invite Via</p>
    </div>
    <div class="btnContainer">
<!-- 
      <div class="shareBtn" (click)="whatsapp()">
        <img src="../../../assets/icons/whatsapp.png" alt="">
        <div class="btnTxt">Whatsapp</div>
      </div> -->
      <div class="shareBtn" (click)="tweet()">
        <img src="../../../assets/icons/tweet.png" alt="">
        <div class="btnTxt">Twitter</div>
      </div>
      <div class="shareBtn" (click)="fbShare()">
        <img src="../../../assets/icons/fb.png" alt="">
        <div class="btnTxt">Facebook</div>
      </div>

      <div class="shareBtn" (click)="insta()">
        <img src="../../../assets/icons/insta.png" alt="">
        <div class="btnTxt">Instagram</div>
      </div>
    </div>
    <br style="clear: both;">
    <div class="btnContainer">
      <!-- <div class="shareBtn" (click)="tweet()">
        <img src="../../../assets/icons/tweet.png" alt="">
        <div class="btnTxt">Twitter</div>
      </div> -->
      <div class="shareBtn" (click)="sms()">
        <img src="../../../assets/icons/sms1.png" alt="">
        <div class="btnTxt">Message</div>
      </div>
      <div class="shareBtn" (click)="email()">
        <img src="../../../assets/icons/Mail.png" alt="">
        <div class="btnTxt">Email</div>
      </div>
    </div>
  </div>
</ion-card-content>