<ion-header [translucent]="true">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" style="color:#fff;" menuToggle></ion-menu-button>
    </ion-buttons>
    <ion-title mode="md" class="ion-align-self-center">{{friendsString}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgcolor">

  <div class=" frnd_pad ">
    <div class="search_bar">
      <ion-searchbar class="search_bar ion-no-padding" color="light" [(ngModel)]="searchFriendsTerm" mode="ios"
        (ionChange)="setFilteredItem(searchTerm)" placeholder="{{searchString}}" showCancelButton="never"
        style="width:95%;margin: auto;">
      </ion-searchbar>

    </div>
    <div class="container">
      <div *ngIf="!myfrndsList">
        <h6 style="text-align: center;">{{no_friends_list}}</h6>
      </div>
      <ion-list *ngIf="myfrndsList">
        <ion-item-sliding (ionSwipe)="unFriend(frnd.id,frnd.name)"
          *ngFor="let frnd of myfrndsList | friends:searchFriendsTerm">
          <ion-item>
            <ion-avatar slot="start" (click)="goToProfile(frnd.id)">
              <img *ngIf="frnd.profile_img_url_thump!=null"
                src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/{{frnd.id}}/{{frnd.profile_img_url_thump}}">
              <img *ngIf="frnd.profile_img_url_thump==null"
                src="{{environment.apiUrl}}v1/api/post/imagecall_mobile_url?imagepath=profile/default.png">
            </ion-avatar>
            <ion-label (click)="goToProfile(frnd.id)">
              <h2 class="ion-text-wrap capital" (click)="goToProfile(frnd.id)">{{frnd.name}}</h2>
              <p class="para_size" style="text-transform: capitalize;">
                <ion-icon name="pin" class="icon_location"></ion-icon><span *ngIf="frnd.country_code!='0'">
                  {{frnd.city}}, {{frnd.country_name}} </span><span
                  *ngIf="frnd.country_code=='0' || frnd.country_code=='' || frnd.country_code=='null'">
                  {{frnd.city}}</span>
              </p>

            </ion-label>
            <ion-icon style="font-size: x-large;" name="chatbubbles" class="black" (click)="rootMsgPage(frnd.id)">
            </ion-icon>
          </ion-item>
          <ion-item-options>
            <ion-button class="unfrnd-btn capital ion-text-wrap" color="danger" expand="full"
              (click)="unFriend(frnd.id,frnd.name)">{{unfriendString}}</ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>

</ion-content>